# HEALTH & NUTRITION
#### EXPLORING THE CORRELATION BETWEEN DIET, LIFESTYLE AND HEALTH

In this project, I explored what is the impact of the three most mainstream diets and of lifestyle on the health condition of people following those diets.

## Approach

### Background: The NHANES program
The **National Health and Nutrition Examination Survey (NHANES)** is a program of studies designed to assess the health and nutritional status of adults and children in the United States. 
**The survey is unique in that it combines interviews and physical examinations.** 
 
NHANES is a major program of the National Center for Health Statistics (NCHS). NCHS is part of the Centers for Disease Control and Prevention (CDC) and has the responsibility for producing vital and health statistics for the Nation. 
 
The NHANES program began in the early 1960s and has been conducted as a series of surveys focusing on different population groups or health topics. In 1999, the survey became a continuous program that has a changing focus on a variety of health and nutrition measurements to meet emerging needs. The survey examines a nationally representative sample of about 5,000 persons each year. These persons are located in counties across the country, 15 of which are visited each year. 
 
The NHANES **interview** includes *demographic, socioeconomic, dietary, and health-related* questions. The **examination** component consists of *medical, dental, physiological measurements, and laboratory tests* administered by highly trained medical personnel.

### Problem statement: Health and diet
A McKinsey & Co. __[survey](https://www.mckinsey.com/industries/consumer-packaged-goods/our-insights/feeling-good-the-future-of-the-1-5-trillion-wellness-market)__ about the wellness market, published in 2021, states that *“a rise in consumer interest and purchasing power presents opportunities across markets, especially as consumer spending rebounds.”* The growth of the wellness industry is estimated to be between **5 to 10%**. 
 
An important role in wellness marked is played by nutrition and, of course, by **diets**. 

> *But are those mainstream diets really healthy?*

To answer this question, I analyzed the information collected in the NHANES studies by following this approach:
1. Select three of the most currently trendy diets, and consider the proportion of macronutrients (carbohydrates, fats, proteins) specific of each diet.
2. Consider the NHANES participants' demographic, dietary, and lifestyle (including physical activity and alcohol and drugs abuse) habits.
3. Investigate how participants' health condition (**High Blood Pressure, High Cholesterol Level, Diabetes**) is related to the above-mentioned factors through an exploratory data analysis.
4. Predict which factor, or factors influences participants' health.

The three diets type I considered are: 

**Dash**  
The DASH (Dietary Approaches to Stop Hypertension) eating plan is an acceptable eating pattern for people who have diabetes. In addition to promoting blood pressure control, this eating pattern has been shown to improve insulin resistance, hyperlipidemia, and even overweight/obesity. This balanced approach promotes consumption of a variety of foods (whole grains, fat-free or low-fat dairy products, fruits, vegetables, poultry, fish, and nuts) and is appropriate for the entire family. __[Source](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5439361/)__.

**Mediterranean**  
The Mediterranean diet is a way of eating that mimics the diets of people along the Mediterranean Sea. It emphasizes whole foods and is high in vitamins, minerals, and healthy fats. It has been shown to promote heart health, manage weight, and even lower the risks of Alzheimer's and metabolic diseases. __[Source](https://www.mindbodygreen.com/articles/mediterranean-diet-macros#:~:text=What%20are%20the%20typical%20macros,Isabel%20Smith%2C%20R.D.%2C%20CDN)__.

**Paleo**  
The Paleolithic or “Paleo” diet seeks to address 21st century ills by revisiting the way humans ate during the Paleolithic era more than 2 million years ago. Paleo proponents state that because our genetics and anatomy have changed very little since the Stone Age, we should eat foods available during that time to promote good health. Our predecessors used simple stone tools that were not advanced enough to grow and cultivate plants, so they hunted, fished, and gathered wild plants for food. If they lived long enough, they were believed to experience less modern-day diseases like diabetes, cancer, and heart disease because of a consistent diet of lean meats and plant foods along with a high level of physical activity from intensive hunting.__[Source](https://www.hsph.harvard.edu/nutritionsource/healthy-weight/diet-reviews/paleo-diet/#:~:text=%5B7%5D%20The%20Paleo%20diet%20provided,%2C%20avocado%2C%20and%20olive%20oil)__.

**Balanced diet as reccomended by the USDA**  
The 2015–2020 Dietary Guidelines was designed to help Americans eat a healthier diet. Intended for policymakers and health professionals, this edition of the Dietary Guidelines outlines how people can improve their overall eating patterns — the complete combination of foods and drinks in their diet. I used the USDA nutrition guidline as a reference for the other three diets. __[Source](https://health.gov/our-work/nutrition-physical-activity/dietary-guidelines/previous-dietary-guidelines/2015)__.



Macronutrients by diet: (% of daily calories intake):

| Diet type     | Carbohydrates        | Fats        | Proteins     | Source |
| :- | :- | :- | :- | :- |
| DASH          | 55%                  | 27%         | 18%          | __[link](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5439361/)__ |
| Mediterranean | 50%                   |35%         | 15%          | __[link](https://www.mindbodygreen.com/articles/mediterranean-diet-macros#:~:text=What%20are%20the%20typical%20macros,Isabel%20Smith%2C%20R.D.%2C%20CDN)__ |
| Paleo         | 35%                  | 35%         | 30%          | __[link](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8004139/)__ |
| USDA Balanced | 45-65%               | 25-35%      | 10-30%       | __[link](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8004139/)__ |



## Conclusions

The three health conditions I considered for modeling analysis are **High Blood Pressure, High Cholesterol Level, and Diabetes.** These conditions are highly correlated with nutrition habits and lifestyle. The goal of the modeling application was to understand which factor, or factors, influences their development the most.

Because a participant can have condition or not, this was a **binary classification problem.**
The unsupervised classification algorithms I considered are:
- Logistic Regression
- Support Vector Machines
- Decision Tree
- Random Forest Classifier
- Naive Bayes

When considering all the features together, Logistic Regression Classification is the model better performing.
In this case, the model predicts that the **age of a person** is the most feature mostly influencing the onset of high blood pressure condition, high cholesterol level, and diabetes.

In a second step, the futures where grouped in four categories:
Demographic
Dietary
Lifestyle - Daily habits
Lifestyle - Substances use or abuse

# NHANES 2017-218 Dataset

This Dataset is available __[here](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2017)__. 

### Content
The **2017-2020 NHANES datasets** include the following components:
 
**Demographics dataset**  
The dataset contains **46 columns.**  
A complete variable dictionary can be found __[here](https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.htm)__: 
  
**Dietary datasets**   
A collction of **14 datasets** containing dietary information, of which i will use **4.**  
A complete variable dictionary can be found __[here](https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component=Dietary&CycleBeginYear=2017)__.
  
**Examinations dataset**  
A collction of **14 datasets** containing examinations information.   
A complete variable dictionary can be found __[here](https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component=Examination&CycleBeginYear=2017)__.
 
**Questionnaire dataset**  
A collction of **44 datasets** containing examinations information.  
A complete data dictionary can be found __[here](https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component=Questionnaire&CycleBeginYear=2017)__.

## Preliminary step

### Import the necessary libraries

In [1]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce
import random

In [2]:
# # List of data files selected for each NHANES dataset | year 2017-2018

# year = '2017-2018'
# demographyc_ds_list = ['DEMO_J']

# dietary_ds_list = ['DSQIDS_J', 
#                    'DSQTOT_J', 
#                    'DR1TOT_J', 
#                    'DR2TOT_J']

# examination_ds_list = ['BPX_J', 
#                        'BMX_J']

# questionnaire_ds_list = ['ALQ_J', 
#                          'BPQ_J', 
#                          'CDQ_J', 
#                          'CBQ_J', 
#                          'HSQ_J', 
#                          'DIQ_J', 
#                          'DBQ_J', 
#                          'DUQ_J', 
#                          'PAQ_J', 
#                          'SMQ_J']

In [3]:
# # List of data files selected for each NHANES dataset | year 2015-2016

# year = '2015-2016'
# demographyc_ds_list = ['DEMO_I']

# dietary_ds_list = ['DSQIDS_I', 
#                    'DSQTOT_I', 
#                    'DR1TOT_I', 
#                    'DR2TOT_I']

# examination_ds_list = ['BPX_I', 
#                        'BMX_I']

# questionnaire_ds_list = ['ALQ_I', 
#                          'BPQ_I', 
#                          'CDQ_I', 
#                          'CBQ_I', 
#                          'HSQ_I', 
#                          'DIQ_I', 
#                          'DBQ_I', 
#                          'DUQ_I', 
#                          'PAQ_I', 
#                          'SMQ_I']

In [4]:
# List of data files selected for each NHANES dataset | year 2013-2014

year = '2013-2014'
demographyc_ds_list = ['DEMO_H']

dietary_ds_list = ['DSQIDS_H', 
                   'DSQTOT_H', 
                   'DR1TOT_H', 
                   'DR2TOT_H']

examination_ds_list = ['BPX_H', 
                       'BMX_H']

questionnaire_ds_list = ['ALQ_H', 
                         'BPQ_H', 
                         'CDQ_H', 
                         'CBQ_H', 
                         'HSQ_H', 
                         'DIQ_H', 
                         'DBQ_H', 
                         'DUQ_H', 
                         'PAQ_H', 
                         'SMQ_H']

## Data cleaning

### Demographics dataset

The demographics file provides individual, family, and household-level information on the following topics:

* Survey participant’s household interview and examination status;
* Interview and examination sample weights;
* Masked variance units;
* Language of questionnaires used for the interviews conducted in the household and in the mobile examination center;
* Use of proxy or interpreter during the interviews;
* The six-month time period when the examination was performed;
* Pregnancy status;
* Household and family income;
* Household and family size;
* Household composition: the number of children (aged 5 years or younger and 6-17 years old), and adults aged 60 years or older, in the household;
* Demographic information about the household reference person; and          
* Other selected demographic information, such as gender, age, race/Hispanic origin, education, marital status, military service status, country of birth, citizenship, and years of U.S. residence.

In [5]:
DEMO_J = pd.read_sas('DEMOGRAPHYCS_ORIGINAL/' + year + '/' + demographyc_ds_list[0] + '.XPT')

In [6]:
DEMO_J.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [7]:
DEMO_J.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 47 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  float64
 1   SDDSRVYR  10175 non-null  float64
 2   RIDSTATR  10175 non-null  float64
 3   RIAGENDR  10175 non-null  float64
 4   RIDAGEYR  10175 non-null  float64
 5   RIDAGEMN  673 non-null    float64
 6   RIDRETH1  10175 non-null  float64
 7   RIDRETH3  10175 non-null  float64
 8   RIDEXMON  9813 non-null   float64
 9   RIDEXAGM  4213 non-null   float64
 10  DMQMILIZ  6261 non-null   float64
 11  DMQADFC   543 non-null    float64
 12  DMDBORN4  10175 non-null  float64
 13  DMDCITZN  10171 non-null  float64
 14  DMDYRSUS  1908 non-null   float64
 15  DMDEDUC3  2803 non-null   float64
 16  DMDEDUC2  5769 non-null   float64
 17  DMDMARTL  5769 non-null   float64
 18  RIDEXPRG  1309 non-null   float64
 19  SIALANG   10175 non-null  float64
 20  SIAPROXY  10174 non-null  float64
 21  SIAINTRP  10175 non-null  float64
 22  FIALANG   10054 non-null  float64
 23  FIAPROXY  10054 non-null  float64
 24  FIAINTRP  10054 non-null  float64
 25  MIALANG   7311 non-null   float64
 26  MIAPROXY  7312 non-null   float64
 27  MIAINTRP  7313 non-null   float64
 28  AIALANGA  6317 non-null   float64
 29  DMDHHSIZ  10175 non-null  float64
 30  DMDFMSIZ  10175 non-null  float64
 31  DMDHHSZA  10175 non-null  float64
 32  DMDHHSZB  10175 non-null  float64
 33  DMDHHSZE  10175 non-null  float64
 34  DMDHRGND  10175 non-null  float64
 35  DMDHRAGE  10175 non-null  float64
 36  DMDHRBR4  9878 non-null   float64
 37  DMDHREDU  9881 non-null   float64
 38  DMDHRMAR  10052 non-null  float64
 39  DMDHSEDU  5342 non-null   float64
 40  WTINT2YR  10175 non-null  float64
 41  WTMEC2YR  10175 non-null  float64
 42  SDMVPSU   10175 non-null  float64
 43  SDMVSTRA  10175 non-null  float64
 44  INDHHIN2  10042 non-null  float64
 45  INDFMIN2  10052 non-null  float64
 46  INDFMPIR  9390 non-null   float64
dtypes: float64(47)
memory usage: 3.6 MB

In [8]:
# Check on missing values
DEMO_J.isnull().sum()

SEQN           0
SDDSRVYR       0
RIDSTATR       0
RIAGENDR       0
RIDAGEYR       0
RIDAGEMN    9502
RIDRETH1       0
RIDRETH3       0
RIDEXMON     362
RIDEXAGM    5962
DMQMILIZ    3914
DMQADFC     9632
DMDBORN4       0
DMDCITZN       4
DMDYRSUS    8267
DMDEDUC3    7372
DMDEDUC2    4406
DMDMARTL    4406
RIDEXPRG    8866
SIALANG        0
SIAPROXY       1
SIAINTRP       0
FIALANG      121
FIAPROXY     121
FIAINTRP     121
MIALANG     2864
MIAPROXY    2863
MIAINTRP    2862
AIALANGA    3858
DMDHHSIZ       0
DMDFMSIZ       0
DMDHHSZA       0
DMDHHSZB       0
DMDHHSZE       0
DMDHRGND       0
DMDHRAGE       0
DMDHRBR4     297
DMDHREDU     294
DMDHRMAR     123
DMDHSEDU    4833
WTINT2YR       0
WTMEC2YR       0
SDMVPSU        0
SDMVSTRA       0
INDHHIN2     133
INDFMIN2     123
INDFMPIR     785
dtype: int64

In [9]:
# Check on duplicate values, and compare it with the DataFrame shape
print(DEMO_J['SEQN'].nunique())
print(DEMO_J.shape)

10175
(10175, 47)

In [10]:
def demographics_cleaning(df):
    
    """
    This function takes the DEMO_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. There are just a few missing data in the retained columns. 
                In this case, it is convenient to drop them.
        Step 4. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for Data Modeling.
        Step 5. Drop unnecessary columns.
    """
    
    # Step 1
    df_new = df[['SEQN',     # 'participant_id'
                 'RIAGENDR', # 'gender'
                 'RIDAGEYR', # 'age'
                 'RIDRETH1', # 'race'
                 'DMDEDUC2', # 'education_level' 
                 'DMDFMSIZ', # 'Total number of people in the Family'
                 'INDFMIN2', # 'annual family income'
                ]].copy()
    
    # Step 2
    df_new = df_new.rename(columns={'SEQN'     : 'Participant_id',
                                    'RIAGENDR' : 'Gender',
                                    'RIDAGEYR' : 'Age',
                                    'RIDRETH1' : 'Race',
                                    'DMDEDUC2' : 'Education level',
                                    'DMDFMSIZ' : 'Num family members',
                                    'INDFMIN2' : 'Annual family income'})
    
    # Step 3
    df_new.dropna(inplace=True)
    
    # Step 4
    # 'gender' 
    df_new['Gender'] = df_new['Gender'].replace([1, 2], ['M', 'F'])
    
    # ----------------- #
    
    # 'age'
    df_new['Age ranges'] = pd.cut(df_new['Age'], 
                                    bins=[0, 14, 29, 39, 49, 59, 69, 79, 80], 
                                    right=True, 
                                    labels=['0-17', 
                                            '18-29', 
                                            '30-39',
                                            '40-49',
                                            '50-59',
                                            '60-69',
                                            '70-79',
                                            '80+'], 
                                    include_lowest=True)
    
    # I will exclude partecipans in the age range 0-17 years old.
    df_new.drop(df_new[df_new['Age ranges'] == '0-17'].index, inplace = True)
    
    # ----------------- #
    
    # 'race'
    df_new['Race'] = df_new['Race'].replace([1, 2, 3, 4, 5], ['Mexican American',
                                                              'Other Hispanic',
                                                              'White',
                                                              'African American',
                                                              'Other / Multi-Racial'])
        
    # ----------------- #
    
    # 'education_level'
    df_new['Education level'].replace([1, 2, 3, 4, 5], ['Less than 9th grade',
                                                        '9-11th grade', 
                                                        'High school - GED',
                                                        'College - AA',
                                                        'College or above'], inplace=True) 
    # ----------------- #
    
    # 'Annual family income'
    df_new['Annual family income'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15], [
        '$0 to \$4,999',
        '$5,000 to \$9,999',
        '$10,000 to \$14,999',
        '$15,000 to \$19,999',
        '$20,000 to \$24,999',
        '$25,000 to \$34,999',
        '$35,000 to \$44,999',
        '$45,000 to \$54,999',
        '$55,000 to \$64,999',
        '$65,000 to \$74,999',
        '$20,000 and Over',
        'Under \$20,000',
        '$75,000 to \$99,999',
        '$100,000 and Over'
    ], inplace=True) 
                                           
    # Drop the values 0 (missing), 77 and 99 (Refused, Don't Know)
    
    df_new.drop(df_new[(df_new['Annual family income'] == 77) | \
                           (df_new['Annual family income'] == 99)].index, inplace = True)
       
    
    # Step5
    df_new.drop('Age', axis=1, inplace=True)
    
    return df_new.sort_values(by='Participant_id')



# Clean up the DEMO_J DataFrame
demographics = demographics_cleaning(DEMO_J)

# Save the clean demographycs DataFrame in a .csv file
demographics.to_csv('FINAL_DATASETS/DEMOGRAPHYCS.csv')

In [11]:
demographics.isnull().sum()

Participant_id          0
Gender                  0
Race                    0
Education level         0
Num family members      0
Annual family income    0
Age ranges              0
dtype: int64

In [12]:
demographics.head(20)

,Participant_id,Gender,Race,Education level,Num family members,Annual family income,Age ranges
0,73557.0,M,African American,High school - GED,3.0,"$15,000 to \$19,999",60-69
1,73558.0,M,White,High school - GED,4.0,"$35,000 to \$44,999",50-59
2,73559.0,M,White,College - AA,2.0,"$65,000 to \$74,999",70-79
4,73561.0,F,White,College or above,2.0,"$100,000 and Over",70-79
5,73562.0,M,Mexican American,College - AA,1.0,"$55,000 to \$64,999",50-59
7,73564.0,F,White,College or above,1.0,"$65,000 to \$74,999",60-69
8,73565.0,M,Other Hispanic,High school - GED,4.0,"$100,000 and Over",40-49
9,73566.0,F,White,High school - GED,7.0,"$15,000 to \$19,999",50-59
10,73567.0,M,White,9-11th grade,1.0,"$10,000 to \$14,999",60-69
11,73568.0,F,White,College or above,3.0,"$100,000 and Over",18-29
14,73571.0,M,White,College or above,2.0,"$75,000 to \$99,999",70-79
17,73574.0,F,Other / Multi-Racial,College or above,4.0,"$45,000 to \$54,999",30-39
20,73577.0,M,Mexican American,Less than 9th grade,5.0,"$5,000 to \$9,999",30-39
23,73580.0,F,African American,High school - GED,6.0,"$20,000 and Over",30-39
24,73581.0,M,Other / Multi-Racial,College or above,3.0,"$100,000 and Over",50-59
25,73582.0,F,African American,College - AA,3.0,"$10,000 to \$14,999",18-29
28,73585.0,M,Other / Multi-Racial,College - AA,2.0,"$35,000 to \$44,999",18-29
32,73589.0,M,White,High school - GED,1.0,"$20,000 to \$24,999",30-39
35,73592.0,M,Mexican American,College - AA,1.0,"$25,000 to \$34,999",18-29
37,73594.0,M,Other Hispanic,Less than 9th grade,7.0,"$20,000 to \$24,999",18-29

In [13]:
demographics.shape

(5504, 7)

In [14]:
# The demographic DataFrame contains the Participant_ids selected for this project.
# The IDs are stored in a variable, and used to subset the other DataFrames.

selected_participant_ids = demographics['Participant_id'].unique().tolist()

In [15]:
demographics['Participant_id'].nunique()

5504

In [16]:
len(selected_participant_ids)

5504

### Dietary Datasets

The full dietary dataset is split in 14 individual files. 
For this project, only 4 of them are actually useful: 2 datasets having data about the individual and total supplements taken by the participant, and 2 datasets with the information about the macronutrients and micronutrients assumed on interview days 1 and 2 by the participants.
These datasets also report the total energy intake from food or supplements. A preliminary analysis revealed that the energy calculated is not accurate. To overcome this issue, I will calculate the total energy from the macronutrients:

1g of carbohydrate = 4 kcal  
1g of protein = 4 kcal  
1g of fat = 9 kcal

#### DSQIDS

This Dataframe contain information about the supplements taken by each partecipant.
Of all the possible reasons a partecipant took one or more supplement, I retain the ones connected 
to cosmetic and wellness.

In [17]:
DSQIDS_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[0] + '.XPT')

In [18]:
def DSQIDS_J_clean(df):
    """
    This function takes the DSQIDS_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. Fill missing values with 0 and Hot encode some columns.
        Step 4. Subset based on selected_participant_ids
    """
    
    # Step 1
    new_df = df[['SEQN',    # Partecipant ID
                 'DSD103',  # Days supplement taken, past 30 days
                 'DSD122Q', # Quantity of supplement taken daily
                 'DSQ128D', # To prevent health problems
                 'DSQ128E', # To improve overall health
                 'DSQ128G', # To supplement my diet, food not enough
                 'DSQ128H', # To maintain health (to stay healthy)
                 'DSQ128M', # For healthy skin, hair and nails
                 'DSQ128N', # For weight loss
                 'DSQ128P', # To get more energy
                 'DSD128GG', # For antioxidants
                  'DSQ128NN' # To build muscle
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'DSD103'   : 'Days DS taken', 
                             'DSD122Q'  : 'Num DS taken daily',
                             'DSQ128D'  : 'Prevent health problems',
                             'DSQ128E'  : 'Improve overall health',
                             'DSQ128G'  : 'Supplement diet',
                             'DSQ128H'  : 'Maintain health',
                             'DSQ128M'  : 'Healthy skin-hair-nails',
                             'DSQ128N'  : 'Weight loss',
                             'DSQ128P'  : 'Get more energy',
                             'DSD128GG' : 'Antioxidants',
                             'DSQ128NN' : 'Build muscle'
                            }, inplace=True)
    
    # Step 3
    col_list = ['Prevent health problems',
                'Improve overall health',
                'Supplement diet',
                'Maintain health',
                'Healthy skin-hair-nails',
                'Weight loss',
                'Get more energy', 
                'Antioxidants',
                'Build muscle']

    new_df.fillna(0, inplace=True)
    for col in col_list:
        new_df[col] = new_df[col].apply(lambda x: 1 if x != 0 else 0)
        
    # Step 4
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
        
    return new_df.sort_values(by='Participant_id')

DSQIDS_J_FINAL = DSQIDS_J_clean(DSQIDS_J)

In [19]:
DSQIDS_J_FINAL.head(10)

,Participant_id,Days DS taken,Num DS taken daily,Prevent health problems,Improve overall health,Supplement diet,Maintain health,Healthy skin-hair-nails,Weight loss,Get more energy,Antioxidants,Build muscle
0,73558.0,14.0,1.0,0,0,0,0,0,0,0,0,0
1,73559.0,30.0,1.0,0,0,0,1,0,0,0,0,0
2,73559.0,30.0,1.0,0,0,0,0,0,0,0,0,0
3,73561.0,30.0,1.0,1,1,0,1,0,0,0,0,0
4,73564.0,30.0,1.0,0,0,1,0,0,0,0,0,0
5,73564.0,20.0,1.0,0,0,0,0,0,0,0,0,0
6,73564.0,30.0,2.0,0,0,0,0,0,0,0,0,0
7,73564.0,30.0,1.0,0,0,0,0,0,0,0,0,0
8,73564.0,30.0,2.0,0,0,0,0,0,0,0,0,0
9,73564.0,30.0,1.0,0,0,0,0,0,0,0,0,0

In [20]:
DSQIDS_J_FINAL.shape

(7244, 12)

In [21]:
DSQIDS_J_FINAL['Participant_id'].nunique()

3005

#### DSQTOT Dataset

This dataset contains information about the total dietary suplements taken by partecipants.

In [22]:
DSQTOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year + '/' + dietary_ds_list[1] + '.XPT')

In [23]:
def DSQTOT_J_clean(df):
    """
    This function takes the DSQTOT_J DataFrame and performs the necessary steps for data cleaning.
    
    Step 1. Retain only the columns relevant for this project.
    Step 2. Rename the columns.
    Step 3. Fill missing values with 0 and Hot encode some columns.
    Step 4. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'DSDCOUNT', # Total # of Dietary Supplements Taken
                 'DSD010',   # Any Dietary Supplements Taken
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'DSDCOUNT' : 'Total DS taken',  
                             'DSD010'   : 'DS taken Y-N', 
                            }, inplace=True)
    
    # Step 3
    new_df['DS taken Y-N'].replace(2, 0, inplace=True)
    
    # Step 4
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]

    return new_df.sort_values(by='Participant_id')

DSQTOT_J_FINAL = DSQTOT_J_clean(DSQTOT_J)

In [24]:
DSQTOT_J_FINAL.head(10)

    Participant_id  Total DS taken  DS taken Y-N
0          73557.0    5.397605e-79           0.0
1          73558.0    1.000000e+00           1.0
2          73559.0    2.000000e+00           1.0
4          73561.0    1.000000e+00           1.0
5          73562.0    5.397605e-79           0.0
7          73564.0    7.000000e+00           1.0
8          73565.0    1.000000e+00           1.0
9          73566.0    1.000000e+00           1.0
10         73567.0    5.397605e-79           0.0
11         73568.0    5.397605e-79           0.0

In [25]:
DSQTOT_J_FINAL.shape

(5504, 3)

In [26]:
DSQTOT_J_FINAL['Participant_id'].nunique()

5504

#### DR1TOT_J and DR2TOT_J 

These datasets contain information about the daily total energy and nutrient intakes from foods and beverages.
The Day 1 file also includes information on salt used; whether the participant is currently on any kind of diet and, if so, the type of diet; information on frequency of fish and shellfish consumption.

In [27]:
DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
DR2TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[3] + '.XPT')

/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')

/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')
/var/folders/dk/nwt6ddv12cd3hjtm1brdfz2m0000gn/T/ipykernel_12528/2140430214.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  DR1TOT_J = pd.read_sas('DIETARY_ORIGINAL/' + year +'/' + dietary_ds_list[2] + '.XPT')

In [28]:
def DR12TOT_J_clean(df1, df2):
    
    """
    This function takes the DR1TOT_J and DR2TOT_J DataFrames and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. Concatenate the 2 DataFrames.
        Step 4. Remove the rows having all missing values (but participant id).
        Step 5. Replace the missing values with 0.
        Step 6. Some columns have numerical values corresponding to a specific description. 
                Some values are replaced with 0, or 0 and 1. 
        Step 7. Calculate the average energy and nutrients.
        Step 8. Subset based on selected_participant_ids.
    """
    
    # Step 1
    df1_new = df1[['SEQN',     # partecipant id
                   'DRQSDIET', # On special diet?
                   'DRQSDT1',  # Weight loss/Low calorie diet
                   'DRQSDT2',  # Low fat/Low cholesterol diet
                   'DRQSDT3',  # Low salt/Low sodium diet
                   'DRQSDT4',  # Sugar free/Low sugar diet
                   'DRQSDT7',  # Diabetic diet
                   'DRQSDT8',  # Weight gain/Muscle building diet
                   'DRQSDT9',  # Low carbohydrate diet
                   'DRQSDT10', # High protein diet
                   'DRQSDT11', # Gluten-free/Celiac diet
                   'DR1TPROT', # protein (gm)
                   'DR1TCARB', # carbohydrate (gm)
                   'DR1TSUGR', # total sugars (gm)
                   'DR1TTFAT', # total fat (gm)
                   'DR1TCHOL', # cholesterol (mg)
                   'DR1TALCO', # alcohol (gm)
                   'DR1TMOIS',  # Moisture (gm)
                   'DR1_320Z', # Total plain water drank yesterday (gm)
                   'DR1_330Z', # Total tap water drank yesterday (gm)
                   'DR1BWATZ', # Total bottled water drank yesterday (gm)
                   'DRD340',   # Shellfish eaten during past 30 days
                   'DRD360'   # Fish eaten during past 30 days
                ]].copy()
    
    df2_new = df2[['SEQN',     # partecipant id
                   'DR2TPROT', # protein (gm)
                   'DR2TCARB', # carbohydrate (gm)
                   'DR2TSUGR', # total sugars (gm)
                   'DR2TTFAT', # total fat (gm)
                   'DR2TCHOL', # cholesterol (mg)
                   'DR2TALCO', # alcohol (gm)
                   'DR2TMOIS',  # Moisture (gm)
                   'DR2_320Z', # Total plain water drank yesterday (gm)
                   'DR2_330Z', # Total tap water drank yesterday (gm)
                   'DR2BWATZ' # Total bottled water drank yesterday (gm)
                 ]].copy()
    
    # Step 2
    df1_new.rename(columns = {'SEQN'     : 'Participant_id', 
                              'DRQSDIET' : 'On special diet Y-N',
                              'DRQSDT1'  : 'Low calorie diet',
                              'DRQSDT2'  : 'Low fat/Low cholesterol diet',
                              'DRQSDT3'  : 'Low sodium diet',
                              'DRQSDT4'  : 'Sugar free/Low sugar diet',
                              'DRQSDT7'  : 'Diabetic diet',
                              'DRQSDT8'  : 'Muscle building diet',
                              'DRQSDT9'  : 'Low carbohydrate diet',
                              'DRQSDT10' : 'High protein diet',
                              'DRQSDT11' : 'Gluten-free/Celiac diet',
                              'DR1TPROT' : 'Food D1 protein (g)',
                              'DR1TCARB' : 'Food D1 carbohydrate (gm)',
                              'DR1TSUGR' : 'Food D1 total sugars (gm)',
                              'DR1TTFAT' : 'Food D1 total fat (gm)',
                              'DR1TCHOL' : 'Food D1 cholesterol (mg)',
                              'DR1TALCO' : 'Alcohol D1 (gm)',
                              'DR1TMOIS' : 'Moisture D1 (gm)',
                              'DR1_320Z' : 'Total plain water D1 (gm)',
                              'DR1_330Z' : 'Total tap water D1 (gm)',
                              'DR1BWATZ' : 'Total bottled water D1 (gm)',
                              'DRD340'   : 'Shellfish past 30 days Y-N',
                              'DRD360'   : 'Fish past 30 days Y-N'
                            }, inplace=True)
    
    df2_new.rename(columns = {'SEQN'     : 'Participant_id', 
                              'DR2TPROT' : 'Food D2 protein (g)',
                              'DR2TCARB' : 'Food D2 carbohydrate (gm)',
                              'DR2TSUGR' : 'Food D2 total sugars (gm)',
                              'DR2TTFAT' : 'Food D2 total fat (gm)',
                              'DR2TCHOL' : 'Food D2 cholesterol (mg)',
                              'DR2TALCO' : 'Alcohol D2 (gm)',
                              'DR2TMOIS' : 'Moisture D2 (gm)',
                              'DR2_320Z' : 'Total plain water D2 (gm)',
                              'DR2_330Z' : 'Total tap water D2 (gm)',
                              'DR2BWATZ' : 'Total bottled water D2 (gm)',
                            }, inplace=True)
    
    # Step 3
    df = pd.concat([df1_new, df2_new]).sort_values(by='Participant_id')
    
    # Step 4
    value = df.shape[1] - 1
    df['counts'] = df.isnull().sum(axis=1)
    df = df[df.counts != value]
    df.drop('counts', axis=1, inplace=True)
    
    # Step 5
    df = df.fillna(0)
    
    # Step 6   
    df['On special diet Y-N'].replace([2,9], 0, inplace=True)
    
    df['Shellfish past 30 days Y-N'].replace([2, 7, 9], 0, inplace=True)
    
    df['Fish past 30 days Y-N'].replace([2, 7, 9], 0, inplace=True)
    
    col_list = ['Low calorie diet',
                'Low fat/Low cholesterol diet',
                'Low sodium diet',
                'Sugar free/Low sugar diet',
                'Diabetic diet',
                'Muscle building diet',
                'Low carbohydrate diet',
                'High protein diet',
                'Gluten-free/Celiac diet'
               ]

    for col in col_list:
        df[col] = df[col].apply(lambda x: 1 if x != 0 else 0)
        
    # Step 7
    df['Carbohydrate (g)'] = df['Food D1 carbohydrate (gm)'] + df['Food D2 carbohydrate (gm)']
    df['Protein (g)'] = df['Food D1 protein (g)'] + df['Food D2 protein (g)']
    df['Total sugars (g)'] = df['Food D1 total sugars (gm)'] + df['Food D2 total sugars (gm)']
    df['Total fat (g)'] = df['Food D1 total fat (gm)'] + df['Food D2 total fat (gm)']
    df['Cholesterol (mg)'] = df['Food D1 cholesterol (mg)'] + df['Food D2 cholesterol (mg)']
    df['Alcohol (g)'] = df['Alcohol D1 (gm)'] + df['Alcohol D2 (gm)']
    df['Moisture (g)'] = df['Moisture D1 (gm)'] + df['Moisture D2 (gm)']
    df['Water (g)'] = df['Total plain water D1 (gm)'] + df['Total plain water D2 (gm)'] + \
                      df['Total tap water D1 (gm)'] + df['Total tap water D2 (gm)'] + \
                      df['Total bottled water D1 (gm)'] + df['Total bottled water D2 (gm)']
    
    df.drop(['Food D1 protein (g)',
             'Food D2 protein (g)',
             'Food D1 carbohydrate (gm)',
             'Food D2 carbohydrate (gm)',
             'Food D1 total sugars (gm)',
             'Food D2 total sugars (gm)',
             'Food D1 total fat (gm)',
             'Food D2 total fat (gm)',
             'Food D1 cholesterol (mg)',
             'Food D2 cholesterol (mg)',
             'Alcohol D1 (gm)',
             'Alcohol D2 (gm)',
             'Moisture D1 (gm)',
             'Moisture D2 (gm)',
             'Total plain water D1 (gm)',
             'Total plain water D2 (gm)',
             'Total tap water D1 (gm)',
             'Total tap water D2 (gm)',
             'Total bottled water D1 (gm)',
             'Total bottled water D2 (gm)'
            ], axis=1, inplace=True)
    
    # Step 8
    df = df[df['Participant_id'].isin(selected_participant_ids)]

    return df.sort_values(by='Participant_id')

DRTOT_J = DR12TOT_J_clean(DR1TOT_J, DR2TOT_J)

In [29]:
DRTOT_J.tail(20)

,Participant_id,On special diet Y-N,Low calorie diet,Low fat/Low cholesterol diet,Low sodium diet,Sugar free/Low sugar diet,Diabetic diet,Muscle building diet,Low carbohydrate diet,High protein diet,...,Shellfish past 30 days Y-N,Fish past 30 days Y-N,Carbohydrate (g),Protein (g),Total sugars (g),Total fat (g),Cholesterol (mg),Alcohol (g),Moisture (g),Water (g)
9789,83708.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,252.38,124.74,129.62,86.15,308.0,5.397605e-79,1704.85,1.619282e-78
9790,83709.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,280.41,109.74,119.87,122.56,224.0,4.460000e+01,2647.95,1.470000e+03
9790,83709.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,251.79,47.70,100.32,73.52,131.0,5.397605e-79,2860.54,2.970000e+03
9792,83711.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,192.83,42.85,112.82,39.02,132.0,5.397605e-79,775.18,1.619282e-78
9792,83711.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,98.34,28.43,55.82,13.98,64.0,5.397605e-79,769.22,1.619282e-78
9793,83712.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,577.38,92.96,309.54,146.85,270.0,5.397605e-79,2777.16,1.440000e+03
9793,83712.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,374.03,66.13,226.38,112.40,220.0,5.397605e-79,1903.93,1.619282e-78
9794,83713.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,270.53,60.77,88.03,69.15,208.0,5.397605e-79,1937.24,2.274000e+03
9794,83713.0,0.0,0,0,0,0,0,0,0,0,...,1.0,1.0,247.92,119.63,127.66,58.58,452.0,9.400000e+00,1972.39,1.619282e-78
9796,83715.0,0.0,0,0,0,0,0,0,0,0,...,0.0,1.0,291.61,85.38,141.53,131.12,241.0,5.397605e-79,2018.02,1.050000e+03
9798,83717.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,155.59,81.44,50.12,41.10,466.0,5.397605e-79,1164.84,4.800000e+02
9798,83717.0,0.0,0,0,0,0,0,0,0,0,...,0.0,1.0,97.97,30.03,54.06,9.88,102.0,5.397605e-79,863.36,1.619282e-78
9802,83721.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,197.32,46.17,76.77,25.03,10.0,1.550000e+01,2994.00,4.800000e+02
9802,83721.0,0.0,0,0,0,0,0,0,0,0,...,0.0,1.0,250.82,35.05,127.22,17.97,6.0,5.397605e-79,2583.21,1.619282e-78
9804,83723.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,177.28,82.44,38.29,69.52,177.0,5.397605e-79,2546.59,2.880000e+03
9804,83723.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,265.54,70.52,107.29,95.36,304.0,5.397605e-79,4036.45,6.000000e+03
9805,83724.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,197.57,61.94,99.68,34.84,123.0,5.397605e-79,3522.83,1.740000e+03
9805,83724.0,0.0,0,0,0,0,0,0,0,0,...,0.0,1.0,384.72,77.09,164.56,69.26,143.0,5.397605e-79,2907.17,1.380000e+03
9810,83729.0,0.0,0,0,0,0,0,0,0,0,...,0.0,0.0,88.46,33.51,37.76,21.04,76.0,5.397605e-79,1857.19,2.535000e+03
9810,83729.0,1.0,1,0,0,0,0,0,0,0,...,1.0,1.0,290.37,89.37,126.54,110.30,171.0,5.397605e-79,2406.70,2.028000e+03

In [30]:
DRTOT_J.shape

(9178, 21)

In [31]:
DRTOT_J['Participant_id'].nunique()

4879

####  Dietary

Concatenated all DataFrames to get the final Dietary DataFrame

In [32]:
def Dietary_clean(df1, df2, df3):
    
    """
    This function takes the three dietary DataFrames and combines them to get the final Dietary DataFrame.
    The Dietary DF is then further cleaned following these steps:
    
        Step 1. Concatenate the 3 dietary DFs.
        Step 2. Fill missing values with 0.
        Step 3. Calculate the total energy and macronutrients.
        Step 4. Calculate the average macronutrients per Participant_id.
        Step 5. Re-arrange the columns in a more logic way.
    """
    
    # Step 1
    df = pd.concat([df1, df2, df3])
    
    # Step 2
    df = df.fillna(0)
    
    # Step 3
    df['Energy (kcal)'] = (df['Protein (g)'] * 4) + \
                      (df['Carbohydrate (g)']  * 4) + \
                      (df['Total fat (g)'] * 9)
    
    df['Protein (% kcal)'] = (df['Protein (g)'] * 4) / df['Energy (kcal)']
    
    df['Carbohydrate (% kcal)'] = (df['Carbohydrate (g)'] * 4) / df['Energy (kcal)']
    
    df['Total fat (% kcal)'] = (df['Total fat (g)'] * 9) / df['Energy (kcal)']
    
    # Step 4
    df.replace(0, np.nan, inplace=True)
    df = df.groupby('Participant_id').mean().fillna(0).reset_index()
    
    #Step 5
    col_order = ['Participant_id', 
                 'Energy (kcal)', 
                 'Carbohydrate (g)',
                 'Carbohydrate (% kcal)',
                 'Protein (g)',
                 'Protein (% kcal)',  
                 'Total fat (g)', 
                 'Total fat (% kcal)', 
                 'Total sugars (g)',
                 'Cholesterol (mg)',
                 'Alcohol (g)', 
                 'Moisture (g)', 
                 'Water (g)',
                 'Shellfish past 30 days Y-N',
                 'Fish past 30 days Y-N',
                 'On special diet Y-N', 
                 'Low calorie diet', 
                 'Low fat/Low cholesterol diet',
                 'Low sodium diet', 
                 'Sugar free/Low sugar diet', 
                 'Diabetic diet',
                 'Muscle building diet', 
                 'Low carbohydrate diet', 
                 'High protein diet',
                 'Gluten-free/Celiac diet',
                 'DS taken Y-N',
                 'Total DS taken',
                 'Days DS taken',
                 'Num DS taken daily', 
                 'Prevent health problems',
                 'Improve overall health', 
                 'Supplement diet', 
                 'Maintain health',
                 'Healthy skin-hair-nails', 
                 'Weight loss', 
                 'Get more energy',
                 'Antioxidants', 
                 'Build muscle' 
                 ]
    df = df[col_order]
    
    return df.sort_values(by='Participant_id')


Dietary = Dietary_clean(DSQIDS_J_FINAL, DSQTOT_J_FINAL, DRTOT_J)

# Save the clean demographycs DataFrame in a .csv file
Dietary.to_csv('FINAL_DATASETS/DIETARY.csv')

In [33]:
Dietary.shape

(5504, 38)

In [34]:
Dietary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5504 entries, 0 to 5503
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Participant_id                5504 non-null   float64
 1   Energy (kcal)                 5504 non-null   float64
 2   Carbohydrate (g)              5504 non-null   float64
 3   Carbohydrate (% kcal)         5504 non-null   float64
 4   Protein (g)                   5504 non-null   float64
 5   Protein (% kcal)              5504 non-null   float64
 6   Total fat (g)                 5504 non-null   float64
 7   Total fat (% kcal)            5504 non-null   float64
 8   Total sugars (g)              5504 non-null   float64
 9   Cholesterol (mg)              5504 non-null   float64
 10  Alcohol (g)                   5504 non-null   float64
 11  Moisture (g)                  5504 non-null   float64
 12  Water (g)                     5504 non-null   float64
 13  Shellfish past 30 days Y-N    5504 non-null   float64
 14  Fish past 30 days Y-N         5504 non-null   float64
 15  On special diet Y-N           5504 non-null   float64
 16  Low calorie diet              5504 non-null   float64
 17  Low fat/Low cholesterol diet  5504 non-null   float64
 18  Low sodium diet               5504 non-null   float64
 19  Sugar free/Low sugar diet     5504 non-null   float64
 20  Diabetic diet                 5504 non-null   float64
 21  Muscle building diet          5504 non-null   float64
 22  Low carbohydrate diet         5504 non-null   float64
 23  High protein diet             5504 non-null   float64
 24  Gluten-free/Celiac diet       5504 non-null   float64
 25  DS taken Y-N                  5504 non-null   float64
 26  Total DS taken                5504 non-null   float64
 27  Days DS taken                 5504 non-null   float64
 28  Num DS taken daily            5504 non-null   float64
 29  Prevent health problems       5504 non-null   float64
 30  Improve overall health        5504 non-null   float64
 31  Supplement diet               5504 non-null   float64
 32  Maintain health               5504 non-null   float64
 33  Healthy skin-hair-nails       5504 non-null   float64
 34  Weight loss                   5504 non-null   float64
 35  Get more energy               5504 non-null   float64
 36  Antioxidants                  5504 non-null   float64
 37  Build muscle                  5504 non-null   float64
dtypes: float64(38)
memory usage: 1.6 MB

In [35]:
Dietary.head(20)

,Participant_id,Energy (kcal),Carbohydrate (g),Carbohydrate (% kcal),Protein (g),Protein (% kcal),Total fat (g),Total fat (% kcal),Total sugars (g),Cholesterol (mg),...,Num DS taken daily,Prevent health problems,Improve overall health,Supplement diet,Maintain health,Healthy skin-hair-nails,Weight loss,Get more energy,Antioxidants,Build muscle
0,73557.0,1928.265,228.695,0.491707,84.205,0.165257,75.185,0.343036,163.985,551.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,73558.0,2774.965,267.635,0.364585,223.820,0.320607,89.905,0.314809,37.090,1490.5,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,73559.0,1860.290,255.430,0.547192,62.560,0.135256,65.370,0.317551,117.130,72.0,...,1.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,73561.0,1518.980,187.075,0.492911,59.695,0.157041,59.100,0.350048,93.520,49.5,...,1.000000,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,73562.0,1824.080,189.590,0.415749,55.110,0.120850,93.920,0.463401,81.750,534.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,73564.0,1956.370,241.285,0.490479,68.100,0.135409,79.870,0.374112,95.035,121.0,...,1.375000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,73565.0,0.000,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.0,...,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,73566.0,1446.110,226.320,0.626010,42.260,0.116893,41.310,0.257097,85.920,39.0,...,8.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,73567.0,1765.270,216.590,0.490780,38.090,0.086310,82.950,0.422910,98.010,81.0,...,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,73568.0,2477.015,217.870,0.365789,120.415,0.197213,124.875,0.436998,85.020,386.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,73571.0,2143.980,308.635,0.564159,64.055,0.126432,72.580,0.309409,169.200,105.0,...,1.000000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,73574.0,5034.705,561.315,0.451244,190.425,0.145296,225.305,0.403460,205.995,437.5,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,73577.0,3215.540,385.050,0.478986,144.920,0.180275,121.740,0.340739,158.450,361.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,73580.0,2451.800,305.690,0.498719,87.390,0.142573,97.720,0.358708,153.650,256.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,73581.0,2534.200,417.465,0.649976,85.585,0.138173,58.000,0.211851,128.260,58.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,73582.0,0.000,0.000,0.000000,0.000,0.000000,0.000,0.000000,0.000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,73585.0,2569.140,175.420,0.273119,285.830,0.445021,80.460,0.281861,52.010,775.0,...,3.443333,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17,73589.0,2121.735,280.940,0.547332,81.115,0.159987,74.835,0.292681,155.175,188.5,...,1.000000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
18,73592.0,3366.705,422.925,0.507876,101.760,0.121381,140.885,0.370743,269.600,332.5,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,73594.0,1533.710,278.870,0.731395,36.630,0.095118,30.190,0.173487,96.395,110.5,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
Dietary['Participant_id'].nunique()

5504

### Examination Datasets

The full examination dataset is split in 14 individual files. For this project, only 2 of them are actually useful:  
* BPX_J (Blood Pressure)  
* BMX_J (Body Measures)

#### BPX_J

This dataset contains measurments of blood preassure taken on participants 8 years and older.  
After resting quietly in a seated position for 5 minutes and after the participant’s maximum inflation level (MIL) has been determined, three consecutive BP readings are obtained. If a BP measurement is interrupted or incomplete, a fourth attempt may be made.

In [37]:
BPX_J = pd.read_sas('EXMINATIONS_ORIGINAL/' + year + '/' + examination_ds_list[0] + '.XPT')

In [38]:
BPX_J.info(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9813 entries, 0 to 9812
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9813 non-null   float64
 1   PEASCST1  9813 non-null   float64
 2   PEASCTM1  9508 non-null   float64
 3   PEASCCT1  320 non-null    float64
 4   BPXCHR    1961 non-null   float64
 5   BPAARM    7535 non-null   float64
 6   BPACSZ    7542 non-null   float64
 7   BPXPLS    7549 non-null   float64
 8   BPXPULS   9511 non-null   float64
 9   BPXPTY    7564 non-null   float64
 10  BPXML1    7553 non-null   float64
 11  BPXSY1    7172 non-null   float64
 12  BPXDI1    7172 non-null   float64
 13  BPAEN1    7539 non-null   float64
 14  BPXSY2    7409 non-null   float64
 15  BPXDI2    7409 non-null   float64
 16  BPAEN2    7537 non-null   float64
 17  BPXSY3    7408 non-null   float64
 18  BPXDI3    7408 non-null   float64
 19  BPAEN3    7537 non-null   float64
 20  BPXSY4    515 non-null    float64
 21  BPXDI4    515 non-null    float64
 22  BPAEN4    562 non-null    float64
dtypes: float64(23)
memory usage: 1.7 MB

In [39]:
def BPX_J_clean(df):
    """
    This function takes the BPX_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Calculate the average systolic and diastolic BP.
        Step 2. Retain only the columns relevant for this project.
        Step 3. Rename the columns.
        Step 4. Fill missing values with 0 and Hot encode some columns.
        Step 5. Drop missing values.
    """
    
    # Step 1
    df['Systolic BP (mm Hg)'] = df.iloc[:, [9,12,15,18]].mean(axis=1)
    df['Diastolic BP (mm Hg)'] = df.iloc[:, [10,13,16,19]].mean(axis=1)
    
    
    # Step 2
    new_df = df[['SEQN',                  # Partecipant ID
                 'BPXPLS',                # 60 sec. pulse
                 'BPXPULS',               # Pulse regular or irregular?
                 'Systolic BP (mm Hg)',   # Average Systolic: Blood pres (1st rdg) mm Hg
                 'Diastolic BP (mm Hg)'   # Average Diastolic: Blood pres (1st rdg) mm Hg
                ]].copy()
    
    # Step 3
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'BPXPLS'   : '60 sec pulse',  
                             'BPXPULS'  : 'Pulse regular/irregular'
                            }, inplace=True)
    
    # Step 4
    new_df['Pulse regular/irregular'].replace(2, 0, inplace=True)
    
    # Step 5
    new_df.dropna(how='any', inplace=True)
        
    return new_df.sort_values(by='Participant_id')

BPX_J_FINAL = BPX_J_clean(BPX_J)

In [40]:
BPX_J_FINAL.head(10)

,Participant_id,60 sec pulse,Pulse regular/irregular,Systolic BP (mm Hg),Diastolic BP (mm Hg)
0,73557.0,86.0,1.0,55.75,36.50
1,73558.0,74.0,1.0,46.25,44.00
2,73559.0,68.0,1.0,61.75,41.50
3,73560.0,64.0,1.0,27.75,34.00
4,73561.0,92.0,1.0,65.25,43.75
5,73562.0,60.0,1.0,61.75,46.50
7,73564.0,82.0,1.0,60.75,39.00
8,73566.0,86.0,1.0,54.75,36.50
9,73567.0,70.0,1.0,58.25,44.00
10,73568.0,70.0,1.0,47.25,31.50

In [41]:
BPX_J_FINAL.isnull().sum()

Participant_id             0
60 sec pulse               0
Pulse regular/irregular    0
Systolic BP (mm Hg)        0
Diastolic BP (mm Hg)       0
dtype: int64

In [42]:
BPX_J_FINAL.shape

(7547, 5)

#### BMX_J

NHANES body measures data are used to monitor trends in infant and child growth, to estimate the prevalence of overweight and obesity in U.S. children, adolescents, and adults, and to examine the associations between body weight and the health and nutritional status of the U.S. population.

In [43]:
BMX_J = pd.read_sas('EXMINATIONS_ORIGINAL/' + year + '/' + examination_ds_list[1] + '.XPT')

In [44]:
def BMX_J_clean(df):
    """
    This function takes the BMX_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. Fill missing values with average in each column.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'BMXWT',    # Weight (kg)
                 'BMXHT',    # Height (cm)
                 'BMXBMI',   # BMI (kg/m**2)
                 'BMXWAIST' # Waist Circumference (cm)
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'BMXWT'    : 'Weight (kg)',  
                             'BMXHT'    : 'Height (cm)',
                             'BMXBMI'   : 'BMI (kg/m**2)',
                             'BMXWAIST' : 'Waist Circumference (cm)'
                            }, inplace=True)
    
    # Step 3
    new_df.fillna(new_df.mean(), inplace=True)
    
        
    return new_df.sort_values(by='Participant_id')

BMX_J_FINAL = BMX_J_clean(BMX_J)

In [45]:
BMX_J_FINAL.head(10)

,Participant_id,Weight (kg),Height (cm),BMI (kg/m**2),Waist Circumference (cm)
0,73557.0,78.3,171.300000,26.700000,100.000000
1,73558.0,89.5,176.800000,28.600000,107.600000
2,73559.0,88.9,175.300000,28.900000,109.200000
3,73560.0,32.2,137.300000,17.100000,61.000000
4,73561.0,52.0,162.400000,19.700000,87.272047
5,73562.0,105.0,158.700000,41.700000,123.100000
6,73563.0,7.4,155.883759,25.678244,87.272047
7,73564.0,93.4,161.800000,35.700000,110.800000
8,73566.0,61.8,152.800000,26.500000,85.500000
9,73567.0,65.3,172.400000,22.000000,93.700000

In [46]:
BMX_J_FINAL.isnull().sum()

Participant_id              0
Weight (kg)                 0
Height (cm)                 0
BMI (kg/m**2)               0
Waist Circumference (cm)    0
dtype: int64

#### Examination
Merge all DataFrames to get the final Examination DataFrame

In [47]:
dfs = [BPX_J_FINAL, BMX_J_FINAL]

#merge all DataFrames into one
Examination = reduce(lambda  left,right: pd.merge(left,right,on=['Participant_id'], how='outer'), dfs)

# Subset based on selected_participant_ids.
Examination = Examination[Examination['Participant_id'].isin(selected_participant_ids)]

Examination = Examination.sort_values(by='Participant_id').reset_index(drop=True)

In [48]:
Examination.fillna('N/A', inplace=True)

In [49]:
Examination.head(20)

,Participant_id,60 sec pulse,Pulse regular/irregular,Systolic BP (mm Hg),Diastolic BP (mm Hg),Weight (kg),Height (cm),BMI (kg/m**2),Waist Circumference (cm)
0,73557.0,86.0,1.0,55.75,36.5,78.3,171.3,26.7,100.000000
1,73558.0,74.0,1.0,46.25,44.0,89.5,176.8,28.6,107.600000
2,73559.0,68.0,1.0,61.75,41.5,88.9,175.3,28.9,109.200000
3,73561.0,92.0,1.0,65.25,43.75,52.0,162.4,19.7,87.272047
4,73562.0,60.0,1.0,61.75,46.5,105.0,158.7,41.7,123.100000
5,73564.0,82.0,1.0,60.75,39.0,93.4,161.8,35.7,110.800000
6,73566.0,86.0,1.0,54.75,36.5,61.8,152.8,26.5,85.500000
7,73567.0,70.0,1.0,58.25,44.0,65.3,172.4,22.0,93.700000
8,73568.0,70.0,1.0,47.25,31.5,47.1,152.5,20.3,73.700000
9,73571.0,72.0,1.0,45.666667,39.0,102.4,172.5,34.4,122.100000
10,73574.0,98.0,1.0,46.75,36.5,56.8,158.0,22.8,78.700000
11,73577.0,56.0,1.0,56.75,36.5,79.7,166.2,28.9,100.000000
12,73580.0,70.0,1.0,50.333333,36.25,93.5,161.4,35.9,107.400000
13,73581.0,74.0,1.0,59.75,41.5,80.9,185.0,23.6,99.300000
14,73582.0,88.0,1.0,39.25,31.5,46.7,158.3,18.6,87.272047
15,73585.0,72.0,1.0,52.75,34.0,92.2,175.1,30.1,90.300000
16,73589.0,88.0,1.0,54.25,39.0,78.3,172.9,26.2,94.600000
17,73592.0,86.0,1.0,60.25,36.5,92.9,173.1,31.0,107.700000
18,73594.0,78.0,1.0,50.25,34.0,62.7,159.4,24.7,88.600000
19,73595.0,68.0,1.0,62.75,44.0,96.0,175.3,31.2,114.800000

In [50]:
Examination.shape

(5339, 9)

In [51]:
# Save the clean Examination DataFrame in a .csv file
Examination.to_csv('FINAL_DATASETS/EXAMINATION.csv')

### Questionnaire Dataset

NHANES administered two questionnaires to the participants, one in the household, and one in the Mobile Examination Center (MEC).  

The Questionnaire Data includes 44 Datasets, of which I will consider for this project:
* ALQ_J (Alcohol Use)
* BPQ_J (Blood Pressure & Cholesterol)
* CDQ_J (Cardiovascular Health)
* CBQ_J (Consumer Behavior)
* HSQ_J (Current Health Status)
* DIQ_J (Diabetes)
* DBQ_J (Diet Behavior & Nutrition)
* DUQ_J (Drug Use)
* MCQ_J (Medical Conditions)
* DPQ_J (Mental Health - Depression Screener)
* PAQ_J (Physical Activity)
* PAQY_J (Physical Activity Youth)
* SLQ_J (Sleep Disorders)
* SMQ_J (Smoking - Cigarette Use)

#### ALQ_J Dataset

The Alcohol Use Questionnaire (variable name prefix ALQ) focuses on lifetime and current use (past 12 months).

In [52]:
ALQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[0] + '.XPT')

In [53]:
def ALQ_J_clean(df, year):
    """
    This function takes the ALQ_J DataFrame and performs the necessary steps for data cleaning.
    
    Step 1. Retain only the columns relevant for this project.
    Step 2. Rename the columns.
    Step 3. In some columns, the value 0 is written as a number of the order od e-79. It must be replaced with 0.
    Step 4. The missing values are considered as 0s (Never had drinks, or drinks above a threshold)
    Step 5. Most of the columns have numerical values, which correspond to a specific description. 
            The numerical values are replaced with the corresponding description. 
            This passage is necessary for a correct Data Visualization, and for data modeling.
    Step 6. Subset based on selected_participant_ids.
    """
    
    # Step 1 & Step 2
    
    if year == '2017-2018':
        new_df = df[['SEQN',     # Partecipant ID
                     'ALQ121',   # Past 12 mo how often have alcohol drink
                     'ALQ130',   # Avg # alcohol drinks/day - past 12 mos
                     'ALQ142',   # Num days have 4 or 5 drinks/past 12 mos
                     'ALQ270',   # Num times 4-5 drinks in 2 hrs/past 12 mo
                     'ALQ151',   # Ever have 4/5 or more drinks every day?
                    ]].copy()
    
        new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                                 'ALQ121'   : 'Alchool past 12 mo',  
                                 'ALQ130'   : 'Alcohol drinks/day',
                                 'ALQ142'   : 'Num days consuming 4/5 drinks',
                                 'ALQ270'   : 'Num times 4/5 drinks in 2 hrs',
                                 'ALQ151'   : '4+ drinks every day Y-N'
                                }, inplace=True)
    else:
        new_df = df[['SEQN',     # Partecipant ID
                     'ALQ120Q',  # Past 12 mo how often have alcohol drink
                     'ALQ130',   # Avg # alcohol drinks/day - past 12 mos
                     'ALQ141Q',   # Num days have 4 or 5 drinks/past 12 mos
                     'ALQ160',   # Num times 4-5 drinks in 2 hrs/past 12 mos
                     'ALQ151',   # Ever have 4/5 or more drinks every day?
                    ]].copy()
    
        new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                                 'ALQ120Q'  : 'Alchool past 12 mo',
                                 'ALQ130'   : 'Alcohol drinks/day',
                                 'ALQ141Q'  : 'Num days consuming 4/5 drinks',
                                 'ALQ160'   : 'Num times 4/5 drinks in 2 hrs',
                                 'ALQ151'   : '4+ drinks every day Y-N'
                                }, inplace=True)        
        
        
    # Step 3
    new_df[new_df < 0.005] = 0
    
    #Step 4
    new_df.fillna(0, inplace=True)

    # Step 5
    col_rename = ['Alchool past 12 mo',
                  'Num days consuming 4/5 drinks',
                  'Num times 4/5 drinks in 2 hrs']
    
    for col in col_rename:
        new_df[col] = new_df[col].replace([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
                                          ['Never',
                                           'Every day',
                                           'Nearly every day',
                                           '3 to 4 times a week',
                                           '2 times a week',
                                           'Once a week',
                                           '2 to 3 times a month',
                                           'Once a month',
                                           '7 to 11 times in the last year',
                                           '3 to 6 times in the last year',
                                           '1 to 2 times in the last year'
                                        ])

        new_df.drop(new_df[(new_df[col] == 77) | \
                           (new_df[col] == 99)].index, inplace = True)
    
    # ---------------#
    # 'Alcohol drinks/day'

    new_df.drop(new_df[(new_df['Alcohol drinks/day'] == 777) | \
                           (new_df['Alcohol drinks/day'] == 999)].index, inplace = True)
      
    # ---------------#
    # '4+ drinks every day Y-N' 
    new_df['4+ drinks every day Y-N'] = new_df['4+ drinks every day Y-N'].replace(2, 0)

    new_df.drop(new_df[(new_df['4+ drinks every day Y-N'] == 7) | \
                       (new_df['4+ drinks every day Y-N'] == 9)].index, inplace = True)
    
    #Step 6
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
    return new_df.sort_values(by='Participant_id')

ALQ_J_FINAL = ALQ_J_clean(ALQ_J, year)

In [54]:
ALQ_J_FINAL.head(20)

,Participant_id,Alchool past 12 mo,Alcohol drinks/day,Num days consuming 4/5 drinks,Num times 4/5 drinks in 2 hrs,4+ drinks every day Y-N
0,73557.0,Every day,1.0,Never,Never,1.0
1,73558.0,Once a month,4.0,Nearly every day,Never,1.0
2,73559.0,Never,0.0,Never,Never,0.0
3,73561.0,Never,0.0,Never,Never,0.0
4,73562.0,Once a week,1.0,Never,Never,0.0
5,73564.0,Nearly every day,1.0,Never,Never,0.0
6,73566.0,Every day,1.0,Never,Never,0.0
7,73567.0,2 times a week,3.0,Never,Never,0.0
8,73568.0,Nearly every day,2.0,Every day,Never,0.0
9,73571.0,Nearly every day,1.0,Never,Never,0.0
10,73574.0,Never,0.0,Never,Never,0.0
11,73577.0,20.0,15.0,1 to 2 times in the last year,Never,0.0
13,73580.0,Every day,3.0,Never,Never,1.0
14,73581.0,Never,0.0,Never,Never,0.0
15,73582.0,Never,0.0,Never,Never,0.0
16,73585.0,2 times a week,4.0,Never,Never,0.0
17,73589.0,Nearly every day,3.0,Never,Never,0.0
18,73592.0,Never,0.0,Never,Never,0.0
19,73594.0,Never,0.0,Never,Never,0.0
20,73595.0,Every day,1.0,Never,Never,0.0

In [55]:
ALQ_J_FINAL.isnull().sum()

Participant_id                   0
Alchool past 12 mo               0
Alcohol drinks/day               0
Num days consuming 4/5 drinks    0
Num times 4/5 drinks in 2 hrs    0
4+ drinks every day Y-N          0
dtype: int64

In [56]:
ALQ_J_FINAL.shape

(5335, 6)

#### BPQ_J Dataset

The Blood Pressure/Cholesterol Dataset provides personal interview data on awareness, treatment, and control of high blood pressure and high cholesterol.

In [57]:
BPQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[1] + '.XPT')

In [58]:
def BPQ_J_clean(df):
    """
    This function takes the BPQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. The missing values are considered as 0s (Never had problems)
        Step 4. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'BPQ020',   # Ever told you had high blood pressure
                 'BPQ030',   # Told had high blood pressure - 2+ times
                 'BPQ050A',  # Now taking prescribed medicine for HBP
                 'BPQ080',   # Doctor told you - high cholesterol level
                 'BPQ100D'   # Now taking prescribed medicine for high cholesterol level
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'BPQ020'   : 'Ever had HBP Y-N',  
                             'BPQ030'   : 'Ever had HBP +2 times Y-N',
                             'BPQ050A'  : 'HBP medicine now Y-N',
                             'BPQ080'   : 'Ever had HCL Y-N',
                             'BPQ100D'  : 'HCL medicine now Y-N'
                            }, inplace=True)
    
    
    #Step 3
    new_df.fillna(0, inplace=True)

    # Step 4
    # all Y-N columns with values 1 = Yes 2 = No, 7 = Refused and 9 = Don't know  will replace 2 with 0,
    # and 7 & 9 excluded
    
    yn_col = ['Ever had HBP Y-N',  
                'Ever had HBP +2 times Y-N',
                'HBP medicine now Y-N',
                'Ever had HCL Y-N',
                'HCL medicine now Y-N']
    
    for col in yn_col:
        new_df[col] = new_df[col].replace(2, 0)
        new_df.drop(new_df[(new_df[col] == 7) | \
                           (new_df[col] == 9)].index, inplace = True)
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

BPQ_J_FINAL = BPQ_J_clean(BPQ_J)

In [59]:
BPQ_J_FINAL.head(10)

,Participant_id,Ever had HBP Y-N,Ever had HBP +2 times Y-N,HBP medicine now Y-N,Ever had HCL Y-N,HCL medicine now Y-N
0,73557.0,1.0,1.0,0.0,1.0,1.0
1,73558.0,1.0,1.0,0.0,1.0,1.0
2,73559.0,1.0,1.0,1.0,1.0,1.0
3,73561.0,1.0,0.0,1.0,0.0,0.0
4,73562.0,1.0,1.0,1.0,1.0,1.0
5,73564.0,1.0,1.0,0.0,0.0,0.0
6,73565.0,0.0,0.0,0.0,0.0,0.0
7,73566.0,0.0,0.0,0.0,0.0,0.0
8,73567.0,0.0,0.0,0.0,0.0,0.0
9,73568.0,0.0,0.0,0.0,0.0,0.0

In [60]:
BPQ_J_FINAL.shape

(5455, 6)

#### CDQ_J Dataset

The Cardiovascular Disease and Health section (variable name prefix CDQ) provides participant-level interview data on evaluating cardiovascular health and includes questions to assess the presence of angina pectoris as defined by the Rose questionnaire.

In [61]:
CDQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[2] + '.XPT')

In [62]:
def CDQ_J_clean(df):
    """
    This function takes the CDQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. The missing values are considered as 0s (Never had problems)
        Step 4. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'CDQ001',   # Partecipant ever had pain or discomfort in chest
                 'CDQ002',   # Partecipant get it walking uphill or in a hurry
                 'CDQ003'    # During an ordinary pace on level ground
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'   : 'Participant_id', 
                             'CDQ001' : 'Ever had chest pain Y-N',  
                             'CDQ002' : 'Chest pain walking uphill/hurry Y-N',
                             'CDQ003' : 'Chest pain on level ground Y-N'
                            }, inplace=True)
    
    
    #Step 3
    new_df.fillna(0, inplace=True)

    # Step 4
    # all Y-N columns with values 1 = Yes 2 = No, 7 = Refused and 9 = Don't know  will replace 2 with 0,
    # and 7 & 9 excluded
    yn_col = ['Ever had chest pain Y-N',  
              'Chest pain walking uphill/hurry Y-N',
              'Chest pain on level ground Y-N']
    
    for col in yn_col:
        new_df[col] = new_df[col].replace(2, 0)
        new_df.drop(new_df[(new_df[col] == 7) | \
                           (new_df[col] == 9)].index, inplace = True)
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

CDQ_J_FINAL = CDQ_J_clean(CDQ_J)

In [63]:
CDQ_J_FINAL.head(10)

,Participant_id,Ever had chest pain Y-N,Chest pain walking uphill/hurry Y-N,Chest pain on level ground Y-N
0,73557.0,0.0,0.0,0.0
1,73558.0,1.0,1.0,0.0
2,73559.0,0.0,0.0,0.0
3,73561.0,0.0,0.0,0.0
4,73562.0,1.0,1.0,1.0
5,73564.0,0.0,0.0,0.0
6,73565.0,0.0,0.0,0.0
7,73566.0,0.0,0.0,0.0
8,73567.0,1.0,0.0,0.0
9,73571.0,1.0,0.0,0.0

In [64]:
CDQ_J_FINAL.shape

(3630, 4)

#### CBQ_J Dataset

The Consumer Behavior questionnaire (variable name prefix CBQ) section provides interview data on food expenditures at the family level as part of the Flexible Consumer Behavior Survey (FCBS) module.

In [65]:
CBQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[3] + '.XPT')

In [66]:
def CBQ_J_clean(df, year):
    """
    This function takes the BPQ_J DataFrame and performs the necessary steps for data cleaning.
    
    Step 1. Retain only the columns relevant for this project.
    Step 2. Rename the columns.
    Step 3. Most of the columns have numerical values, which correspond to a specific description. 
            The numerical values are replaced with the corresponding description. 
            This passage is necessary for a correct Data Visualization, and for data modeling.
    Step 4. The missing values are replaced with the column's average value
    Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1 & Step 2
    
    if year == '2017-2018' or year == '2015-2016':
        new_df = df[['SEQN',     # Partecipant ID
                     'CBD071',   # Money spent at supermarket/grocery store
                     'CBD091',   # Money spent on nonfood items
                     'CBD111',   # Money spent on food at other stores
                     'CBD121',   # Money spent on eating out
                     'CBD131'    # Money spent on carryout/delivered foods
                    ]].copy()

        new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                                 'CBD071'   : '\$ spent supermarket/grocery store', 
                                 'CBD091'   : '\$ spent non-food items',
                                 'CBD111'   : '\$ spent for food at other stores',
                                 'CBD121'   : '\$ spent eating out',
                                 'CBD131'   : '\$ spent carryout/delivered foods'
                                }, inplace=True)
    else:
        new_df = df[['SEQN',     # Partecipant ID
                     'CBD070',   # Money spent at supermarket/grocery store
                     'CBD090',   # Money spent on nonfood items
                     'CBD110',   # Money spent on food at other stores
                     'CBD120',   # Money spent on eating out
                     'CBD130'    # Money spent on carryout/delivered foods
                    ]].copy()

        new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                                 'CBD070'   : '\$ spent supermarket/grocery store',  
                                 'CBD090'   : '\$ spent non-food items',
                                 'CBD110'   : '\$ spent for food at other stores',
                                 'CBD120'   : '\$ spent eating out',
                                 'CBD130'   : '\$ spent carryout/delivered foods'
                                }, inplace=True)        
    
    
    #Step 3
    # All $ columns has monetary values, 777777 = Refused and 999999 = Don't know. 
    yn_col = ['\$ spent supermarket/grocery store',
              '\$ spent non-food items',
              '\$ spent for food at other stores',
              '\$ spent eating out',
              '\$ spent carryout/delivered foods']
    
    for col in yn_col:
        new_df.drop(new_df[(new_df[col] == 777777) | \
                           (new_df[col] == 999999)].index, inplace = True)
        
    # Step 4
    new_df[new_df < 0.005] = 0
    new_df.fillna(new_df.mean(), inplace=True)
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

CBQ_J_FINAL = CBQ_J_clean(CBQ_J, year)

In [67]:
CBQ_J_FINAL.head(10)

,Participant_id,\$ spent supermarket/grocery store,\$ spent non-food items,\$ spent for food at other stores,\$ spent eating out,\$ spent carryout/delivered foods
0,73557.0,300.0,0.0,50.0,0.0,85.0
1,73558.0,642.0,214.0,128.0,40.0,20.0
2,73559.0,150.0,25.0,0.0,40.0,0.0
4,73561.0,200.0,0.0,40.0,0.0,0.0
5,73562.0,150.0,60.0,0.0,60.0,0.0
7,73564.0,400.0,100.0,60.0,200.0,0.0
8,73565.0,900.0,0.0,60.0,300.0,40.0
9,73566.0,1000.0,200.0,200.0,50.0,25.0
10,73567.0,125.0,25.0,0.0,0.0,0.0
11,73568.0,662.0,30.0,0.0,50.0,0.0

In [68]:
CBQ_J_FINAL.shape

(5312, 6)

#### HSQ_J Dataset

The Current Health Status section (variable name prefix HSQ) provides personal interview data on overall health assessment, recent illness (past 30 days), blood donation, and HIV testing.

In [69]:
HSQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[4] + '.XPT')

In [70]:
def HSQ_J_clean(df):
    """
    This function takes the HSQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. The missing values are randomly replaced with value 1 to 5, following the distribution of the values
                in the column.
        Step 4. The columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',    # Partecipant ID
                 'HSD010'   # General health condition
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'   : 'Participant_id', 
                             'HSD010' : 'General health condition'
                            }, inplace=True)
    
    
    #Step 3
    nans = new_df['General health condition'].isna()
    length = sum(nans)
    x = new_df.groupby('General health condition')['General health condition'].sum()
    total = x.sum()
    replacement = random.choices([1, 2, 3, 4, 5], weights=[x[1]/total, 
                                                           x[2]/total, 
                                                           x[3]/total, 
                                                           x[4]/total, 
                                                           x[5]/total], k=length)
    new_df.loc[nans,'General health condition'] = replacement
        
    # Step 4
    new_df['General health condition'] = new_df['General health condition'].replace([1, 2, 3, 4, 5], 
                                                                        ['Excellent',
                                                                         'Very good',
                                                                         'Good',
                                                                         'Fair',
                                                                         'Poor'
                                                                        ])
    new_df.drop(new_df[(new_df['General health condition'] == 7) | \
                       (new_df['General health condition'] == 9)].index, inplace = True)
    

    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

HSQ_J_FINAL = HSQ_J_clean(HSQ_J)

In [71]:
HSQ_J_FINAL.head(20)

    Participant_id General health condition
0          73557.0                Very good
1          73558.0                     Fair
2          73559.0                     Good
4          73561.0                     Poor
5          73562.0                     Poor
6          73564.0                     Good
7          73566.0                     Good
8          73567.0                     Good
9          73568.0                Excellent
11         73571.0                     Good
14         73574.0                Excellent
17         73577.0                     Good
20         73580.0                Very good
21         73581.0                Very good
22         73582.0                     Poor
25         73585.0                Excellent
29         73589.0                     Good
32         73592.0                Very good
34         73594.0                Very good
35         73595.0                Excellent

#### DIQ_J Dataset

The diabetes section (variable name prefix DIQ) provides personal interview data on diabetes, prediabetes, use of insulin or oral hypoglycemic medications, and diabetic retinopathy. It also provides self-reported information on awareness of risk factors for diabetes, general knowledge of diabetic complications, and medical or personal cares associated with diabetes.

In [72]:
DIQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[5] + '.XPT')

In [73]:
def DIQ_J_clean(df):
    """
    This function takes the DIQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 4. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',    # Partecipant ID
                 'DIQ010'   # Doctor told you have diabetes?
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'   : 'Participant_id', 
                             'DIQ010' : 'Have diabetes Y-N'
                            }, inplace=True)
    
    
    #Step 3
    new_df['Have diabetes Y-N'] = new_df['Have diabetes Y-N'].replace([2, 3], 0)
    new_df.drop(new_df[(new_df['Have diabetes Y-N'] == 7) | \
                       (new_df['Have diabetes Y-N'] == 9)].index, inplace = True)
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

DIQ_J_FINAL = DIQ_J_clean(DIQ_J)

In [74]:
DIQ_J_FINAL.head(10)

    Participant_id  Have diabetes Y-N
0          73557.0                1.0
1          73558.0                1.0
2          73559.0                1.0
4          73561.0                0.0
5          73562.0                0.0
6          73564.0                0.0
7          73565.0                0.0
8          73566.0                0.0
9          73567.0                0.0
10         73568.0                0.0

In [75]:
DIQ_J_FINAL.shape

(5502, 2)

#### DBQ_J Dataset

The Diet Behavior and Nutrition questionnaire (variable name prefix DBQ) provides personal interview data on various dietary behavior and nutrition related topics.

In [76]:
DBQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[6] + '.XPT')

In [77]:
def DBQ_J_clean(df):
    """
    This function takes the DBQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. The missing values are filled based on the columns characteristics.
        Step 4. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'DBQ700',   # How healthy is the diet
                 'DBD895',   # Num of meals not home prepared
                 'DBD900',   # Num of meals from fast food or pizza place
                 'DBD905',   # Num of ready-to-eat foods in past 30 days
                 'DBD910',   # Num of frozen meals/pizza in past 30 days
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'DBQ700'   : 'How healthy is the diet',  
                             'DBD895'   : 'Num meals not home prepared',
                             'DBD900'   : 'Num meals from fast food',
                             'DBD905'   : 'Num ready-to-eat foods',
                             'DBD910'   : 'Num frozen meals',
                             
                            }, inplace=True)
    
    
    #Step 3
    nans = new_df['How healthy is the diet'].isna()
    length = sum(nans)
    x = new_df.groupby('How healthy is the diet')['How healthy is the diet'].sum()
    total = x.sum()
    replacement = random.choices([1, 2, 3, 4, 5], weights=[x[1]/total, 
                                                           x[2]/total, 
                                                           x[3]/total, 
                                                           x[4]/total, 
                                                           x[5]/total], k=length)
    new_df.loc[nans,'How healthy is the diet'] = replacement
    
    # ------------------ #
    
    new_df.fillna(0, inplace=True)

    # Step 4
    # 'How healthy is the diet' 
    new_df['How healthy is the diet'] = new_df['How healthy is the diet'].replace([1, 2, 3, 4, 5], 
                                                                        ['Excellent',
                                                                         'Very good',
                                                                         'Good',
                                                                         'Fair',
                                                                         'Poor'
                                                                        ])
    
    new_df.drop(new_df[(new_df['How healthy is the diet'] == 7) | \
                       (new_df['How healthy is the diet'] == 9)].index, inplace = True)
    
    # ---------------#
    col_drop = ['Num meals not home prepared',
                'Num meals from fast food',
                'Num ready-to-eat foods',
                'Num frozen meals']
    
    for col in col_drop:
        new_df.drop(new_df[(new_df[col] == 5555) | \
                           (new_df[col] == 6666) | \
                           (new_df[col] == 7777) | \
                           (new_df[col] == 9999)].index, inplace = True)
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

DBQ_J_FINAL = DBQ_J_clean(DBQ_J)

In [78]:
DBQ_J_FINAL.head(10)

,Participant_id,How healthy is the diet,Num meals not home prepared,Num meals from fast food,Num ready-to-eat foods,Num frozen meals
0,73557.0,Very good,8.000000e+00,8.000000e+00,5.397605e-79,4.000000e+00
1,73558.0,Good,5.397605e-79,0.000000e+00,5.397605e-79,2.000000e+00
2,73559.0,Good,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79
4,73561.0,Very good,5.397605e-79,0.000000e+00,4.000000e+00,1.000000e+00
5,73562.0,Poor,1.400000e+01,1.400000e+01,5.397605e-79,5.397605e-79
7,73564.0,Fair,5.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
8,73565.0,Very good,1.500000e+01,2.000000e+00,7.000000e+00,5.397605e-79
9,73566.0,Very good,5.397605e-79,0.000000e+00,5.397605e-79,5.397605e-79
10,73567.0,Good,5.397605e-79,0.000000e+00,4.000000e+00,5.397605e-79
11,73568.0,Very good,3.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79

In [79]:
DBQ_J_FINAL.shape

(5495, 6)

#### DUQ_J

The Drug Use questionnaire (variable name prefix DUQ) focuses on lifetime and current use of marijuana or hashish, cocaine, heroin, and methamphetamine, as well as intravenous use of these and other drugs.

In [80]:
DUQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[7] + '.XPT')

In [81]:
def DUQ_J_clean(df):
    """
    This function takes the DUQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. The missing values are filled with 0.
        Step 4. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'DUQ200',   # Ever used marijuana or hashish
                 'DUQ211',   # Used marijuana every month for a year?
                 'DUQ217',   # How often would you use marijuana?
                 'DUQ219',   # How many joints or pipes smoke in a day?
                 'DUQ250',   # Ever use any form of cocaine
                 'DUQ272',   # Num of time you used cocaine
                 'DUQ290',   # Ever used heroin
                 'DUQ330',   # Ever used methamphetamine
                 'DUQ352'    # Num times used methamphetamine
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'     : 'Participant_id', 
                             'DUQ200'   : 'Ever used marijuana Y-N',  
                             'DUQ211'   : 'Used marijuana every month Y-N',
                             'DUQ217'   : 'Frequency of marijuana use',
                             'DUQ219'   : 'Num daily joints',
                             'DUQ250'   : 'Ever used cocaine Y-N',
                             'DUQ272'   : 'Frequency of cocaine use',
                             'DUQ290'   : 'Ever used heroin Y-N',
                             'DUQ330'   : 'Ever used methamphetamine Y-N',
                             'DUQ352'   : 'Frequency of methamphetamine use'
                            }, inplace=True)
    
    
    #Step 3
    new_df.fillna(0, inplace=True)

    # Step 4
    yn_col = ['Ever used marijuana Y-N',
              'Used marijuana every month Y-N',
              'Ever used cocaine Y-N',
              'Ever used heroin Y-N',
              'Ever used methamphetamine Y-N']
    
    for col in yn_col:
        new_df[col] = new_df[col].replace(2, 0)
        new_df.drop(new_df[(new_df[col] == 7) | \
                           (new_df[col] == 9)].index, inplace = True)
    
    # ---------------#
    # 'Frequency of marijuana use' 
    new_df['Frequency of marijuana use'] = new_df['Frequency of marijuana use'].replace([0, 1, 2, 3, 4, 5], 
                                                                        ['Never/Not disclosed',
                                                                         'Once per month',
                                                                         '2-3 times per month',
                                                                         '1-2 times per week',
                                                                         '3-6 times per week',
                                                                         'one or more times per day'
                                                                        ])
    
    # I will exclude the Refused and Don't know.
    new_df.drop(new_df[(new_df['Frequency of marijuana use'] == 7) | \
                       (new_df['Frequency of marijuana use'] == 9)].index, inplace = True)

    # ---------------#
    # 'Num daily joints' 
    new_df['Num daily joints'] = new_df['Num daily joints'].replace([0, 1, 2, 3, 4], 
                                                                    ['Never/Not disclosed',
                                                                     '1 per day',
                                                                     '2 per day',
                                                                     '3-5 per day',
                                                                     '>6 per day'
                                                                    ])
    
    # I will exclude the Refused and Don't know.
    new_df.drop(new_df[(new_df['Num daily joints'] == 7) | \
                       (new_df['Num daily joints'] == 9)].index, inplace = True)
    
    # ---------------#
    # 'Frequency of cocaine/meth use' 
    col_stat = ['Frequency of cocaine use', 'Frequency of methamphetamine use']
    for col in col_stat:
        new_df[col] = new_df[col].replace([0, 1, 2, 3, 4, 5, 6], 
                                          ['Never/Not disclosed',
                                           'Once',
                                           '2-5 times',
                                           '6-19 times',
                                           '20-49 times',
                                           '50-99 times',
                                           '>100 times'
                                        ])

        # I will exclude the Refused and Don't know.
        new_df.drop(new_df[(new_df[col] == 77) | \
                           (new_df[col] == 99)].index, inplace = True)

    # ---------------#
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

DUQ_J_FINAL = DUQ_J_clean(DUQ_J)

In [82]:
DUQ_J_FINAL.head(10)

,Participant_id,Ever used marijuana Y-N,Used marijuana every month Y-N,Frequency of marijuana use,Num daily joints,Ever used cocaine Y-N,Frequency of cocaine use,Ever used heroin Y-N,Ever used methamphetamine Y-N,Frequency of methamphetamine use
0,73557.0,0.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
1,73558.0,1.0,1.0,one or more times per day,3-5 per day,1.0,>100 times,0.0,0.0,Never/Not disclosed
2,73562.0,1.0,1.0,2-3 times per month,1 per day,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
3,73564.0,0.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
4,73566.0,1.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
5,73567.0,0.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
6,73568.0,0.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
7,73574.0,0.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed
8,73577.0,1.0,0.0,Never/Not disclosed,Never/Not disclosed,1.0,2-5 times,0.0,0.0,Never/Not disclosed
10,73580.0,1.0,0.0,Never/Not disclosed,Never/Not disclosed,0.0,Never/Not disclosed,0.0,0.0,Never/Not disclosed

In [83]:
DUQ_J_FINAL.shape

(4482, 10)

#### PAQ_J Dataset

The adult section of the Physical Activity questionnaire (variable name prefix PAQ) provides respondent-level interview data on physical activities.

In [84]:
PAQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[8] + '.XPT')

In [85]:
def PAQ_J_clean(df):
    """
    This function takes the CDQ_J DataFrame and performs the necessary steps for data cleaning.
    
        Step 1. Retain only the columns relevant for this project.
        Step 2. Rename the columns.
        Step 3. The missing values are considered as 0s (Never had problems)
        Step 4. Most of the columns have numerical values, which correspond to a specific description. 
                The numerical values are replaced with the corresponding description. 
                This passage is necessary for a correct Data Visualization, and for data modeling.
        Step 5. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',     # Partecipant ID
                 'PAQ605',   # Vigorous work activity
                 'PAQ610',   # Number of days vigorous work
                 'PAQ620',   # Moderate work activity
                 'PAQ625',   # Number of days moderate work
                 'PAQ635',   # Walk or bicycle
                 'PAQ640',   # Number of days walk or bicycle
                 'PAQ650',   # Vigorous recreational activities
                 'PAQ655',   # Days vigorous recreational activities
                 'PAQ665',   # Moderate recreational activities
                 'PAQ670',   # Days moderate recreational activities
                 'PAD680'    # Minutes sedentary activity
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'   : 'Participant_id', 
                             'PAQ605' : 'Vigorous activity at work Y-N',  
                             'PAQ610' : 'Num days/week vigorous activity at work',
                             'PAQ620' : 'Moderate activity at work Y-N',
                             'PAQ625' : 'Num days/week moderate activity at work',
                             'PAQ635' : 'Walk/bicycle for commute Y-N',
                             'PAQ640' : 'Num days/week walk/bicycle for commute',
                             'PAQ650' : 'Vigorous recreational activities Y-N',
                             'PAQ655' : 'Num days/week vigorous recreational activities',
                             'PAQ665' : 'Moderate recreational activities Y-N',
                             'PAQ670' : 'Num days/week moderate recreational activities',
                             'PAD680' : 'Hours/day sedentary activity'
                            }, inplace=True)
    
    
    #Step 3
    new_df.fillna(0, inplace=True)

    # Step 4
    # all Y-N columns with values 1 = Yes 2 = No, 7 = Refused and 9 = Don't know  will replace 2 with 0,
    # and 7 & 9 excluded
    yn_col = ['Vigorous activity at work Y-N',  
              'Moderate activity at work Y-N',
              'Walk/bicycle for commute Y-N',
              'Vigorous recreational activities Y-N',
              'Moderate recreational activities Y-N'
             ]
    
    for col in yn_col:
        new_df[col] = new_df[col].replace(2, 0)
        new_df.drop(new_df[(new_df[col] == 7) | \
                           (new_df[col] == 9)].index, inplace = True)
        
    # ---------------#
    # 'Frequency of cocaine/meth use' 
    col_stat = ['Num days/week vigorous activity at work', 
                'Num days/week moderate activity at work',
                'Num days/week walk/bicycle for commute',
                'Num days/week vigorous recreational activities',
                'Num days/week moderate recreational activities'
               ]
    for col in col_stat:
        new_df.drop(new_df[(new_df[col] == 77) | \
                           (new_df[col] == 99)].index, inplace = True)
        
    # ---------------#
    new_df['Hours/day sedentary activity'] = new_df['Hours/day sedentary activity']/60
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

PAQ_J_FINAL = PAQ_J_clean(PAQ_J)

In [86]:
PAQ_J_FINAL.head(10)

,Participant_id,Vigorous activity at work Y-N,Num days/week vigorous activity at work,Moderate activity at work Y-N,Num days/week moderate activity at work,Walk/bicycle for commute Y-N,Num days/week walk/bicycle for commute,Vigorous recreational activities Y-N,Num days/week vigorous recreational activities,Moderate recreational activities Y-N,Num days/week moderate recreational activities,Hours/day sedentary activity
0,73557.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
1,73558.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
2,73559.0,0.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0
4,73561.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
5,73562.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
6,73564.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,73565.0,1.0,5.0,0.0,0.0,1.0,6.0,1.0,6.0,0.0,0.0,5.0
8,73566.0,1.0,5.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5
9,73567.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
10,73568.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,10.0

In [87]:
PAQ_J_FINAL.shape

(5498, 12)

#### SMQ_J

The Smoking - Cigarette Use (variable name prefix SMQ) dataset provides a history of cigarette use, age at initiation, past 30-day use, cigarette brand, sub-brand and other related details.

In [88]:
SMQ_J = pd.read_sas('QUESTION_ORIGINAL/' + year + '/' + questionnaire_ds_list[9] + '.XPT')

In [89]:
def SMQ_J_clean(df):
    """
    This function takes the DIQ_J DataFrame and performs the necessary steps for data cleaning.
    
    Step 1. Retain only the columns relevant for this project.
    Step 2. Rename the columns.
    Step 3. Most of the columns have numerical values, which correspond to a specific description. 
            The numerical values are replaced with the corresponding description. 
            This passage is necessary for a correct Data Visualization, and for data modeling.
    Step 4. Subset based on selected_participant_ids.
    """
    
    # Step 1
    new_df = df[['SEQN',    # Partecipant ID
                 'SMQ040',  # Do you now smoke cigarettes?
                 'SMD641',  # Num days smoked cigs during past 30 days
                 'SMD650'   # Avg # cigarettes/day during past 30 days
                ]].copy()
    
    # Step 2
    new_df.rename(columns = {'SEQN'   : 'Participant_id', 
                             'SMQ040' : 'Smoke cigarettes Y-N',
                             'SMD641' : 'Days/mo smoked cigs',
                             'SMD650' : 'Num cigs/day'
                            }, inplace=True)
    
    
    #Step 3
    new_df.fillna(0, inplace=True)
    
    #Step 4
    new_df['Smoke cigarettes Y-N'] = new_df['Smoke cigarettes Y-N'].replace([2, 3], 0)
    new_df.drop(new_df[(new_df['Smoke cigarettes Y-N'] == 7) | \
                       (new_df['Smoke cigarettes Y-N'] == 9)].index, inplace = True)
    
    # ------------- #
    new_df.drop(new_df[(new_df['Days/mo smoked cigs'] == 77) | \
                       (new_df['Days/mo smoked cigs'] == 99)].index, inplace = True)
    
    # ------------- #
    new_df.drop(new_df[(new_df['Num cigs/day'] == 777) | \
                       (new_df['Num cigs/day'] == 999)].index, inplace = True)
    
    #Step 5
    new_df = new_df[new_df['Participant_id'].isin(selected_participant_ids)]
    
        
    return new_df.sort_values(by='Participant_id')

SMQ_J_FINAL = SMQ_J_clean(SMQ_J)

In [90]:
SMQ_J_FINAL.head(10)

   Participant_id  Smoke cigarettes Y-N  Days/mo smoked cigs  Num cigs/day
0         73557.0                   0.0                  0.0           0.0
1         73558.0                   0.0                  1.0           1.0
2         73559.0                   0.0                  0.0           0.0
3         73561.0                   0.0                  0.0           0.0
4         73562.0                   0.0                  0.0           0.0
5         73564.0                   0.0                  0.0           0.0
6         73565.0                   0.0                  0.0           0.0
7         73566.0                   1.0                 30.0           1.0
8         73567.0                   1.0                 30.0          25.0
9         73568.0                   0.0                  0.0           0.0

In [91]:
SMQ_J_FINAL.shape

(5502, 4)

#### Questionnaire

Merge all DataFrames to get the final Questionnaire DataFrame

In [92]:
dfs = [ALQ_J_FINAL, 
       BPQ_J_FINAL, 
       CDQ_J_FINAL, 
       CBQ_J_FINAL, 
       HSQ_J_FINAL, 
       DIQ_J_FINAL, 
       DBQ_J_FINAL, 
       DUQ_J_FINAL, 
       PAQ_J_FINAL, 
       SMQ_J_FINAL]

#merge all DataFrames into one
Questionnaire = reduce(lambda  left,right: pd.merge(left,right,on=['Participant_id'], how='outer'), dfs)

In [93]:
Questionnaire.fillna('N/A', inplace=True)

In [94]:
# Save the clean Questionnaire DataFrame in a .csv file
Questionnaire.to_csv('FINAL_DATASETS/QUESTIONNAIRE.csv')

In [95]:
Questionnaire.head(20)

,Participant_id,Alchool past 12 mo,Alcohol drinks/day,Num days consuming 4/5 drinks,Num times 4/5 drinks in 2 hrs,4+ drinks every day Y-N,Ever had HBP Y-N,Ever had HBP +2 times Y-N,HBP medicine now Y-N,Ever had HCL Y-N,...,Walk/bicycle for commute Y-N,Num days/week walk/bicycle for commute,Vigorous recreational activities Y-N,Num days/week vigorous recreational activities,Moderate recreational activities Y-N,Num days/week moderate recreational activities,Hours/day sedentary activity,Smoke cigarettes Y-N,Days/mo smoked cigs,Num cigs/day
0,73557.0,Every day,1.0,Never,Never,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
1,73558.0,Once a month,4.0,Nearly every day,Never,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,1.0
2,73559.0,Never,0.0,Never,Never,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,5.0,0.0,0.0,0.0
3,73561.0,Never,0.0,Never,Never,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
4,73562.0,Once a week,1.0,Never,Never,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
5,73564.0,Nearly every day,1.0,Never,Never,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,73566.0,Every day,1.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,30.0,1.0
7,73567.0,2 times a week,3.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,30.0,25.0
8,73568.0,Nearly every day,2.0,Every day,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,4.0,10.0,0.0,0.0,0.0
9,73571.0,Nearly every day,1.0,Never,Never,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0
10,73574.0,Never,0.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,7.0,8.0,0.0,0.0,0.0
11,73577.0,20.0,15.0,1 to 2 times in the last year,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
12,73580.0,Every day,3.0,Never,Never,1.0,0.0,0.0,0.0,0.0,...,1.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
13,73581.0,Never,0.0,Never,Never,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,4.0,0.0,0.0,8.0,0.0,0.0,0.0
14,73582.0,Never,0.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
15,73585.0,2 times a week,4.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,6.0,1.0,6.0,8.0,0.0,0.0,0.0
16,73589.0,Nearly every day,3.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,1.0,6.0,0.0,0.0,1.0,2.0,5.0,0.0,0.0,0.0
17,73592.0,Never,0.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,7.0,12.0,0.0,0.0,0.0
18,73594.0,Never,0.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,1.0,7.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
19,73595.0,Every day,1.0,Never,Never,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0

### Final NHANES DataFrame

In [96]:
dfs = [demographics, 
       Dietary, 
       Examination, 
       Questionnaire]

NHANES = reduce(lambda  left,right: pd.merge(left,right,on=['Participant_id'], how='outer'), dfs)

In [97]:
NHANES.head(20)

,Participant_id,Gender,Race,Education level,Num family members,Annual family income,Age ranges,Energy (kcal),Carbohydrate (g),Carbohydrate (% kcal),...,Walk/bicycle for commute Y-N,Num days/week walk/bicycle for commute,Vigorous recreational activities Y-N,Num days/week vigorous recreational activities,Moderate recreational activities Y-N,Num days/week moderate recreational activities,Hours/day sedentary activity,Smoke cigarettes Y-N,Days/mo smoked cigs,Num cigs/day
0,73557.0,M,African American,High school - GED,3.0,"$15,000 to \$19,999",60-69,1928.265,228.695,0.491707,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
1,73558.0,M,White,High school - GED,4.0,"$35,000 to \$44,999",50-59,2774.965,267.635,0.364585,...,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,1.0
2,73559.0,M,White,College - AA,2.0,"$65,000 to \$74,999",70-79,1860.290,255.430,0.547192,...,0.0,0.0,0.0,0.0,1.0,1.0,5.0,0.0,0.0,0.0
3,73561.0,F,White,College or above,2.0,"$100,000 and Over",70-79,1518.980,187.075,0.492911,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
4,73562.0,M,Mexican American,College - AA,1.0,"$55,000 to \$64,999",50-59,1824.080,189.590,0.415749,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
5,73564.0,F,White,College or above,1.0,"$65,000 to \$74,999",60-69,1956.370,241.285,0.490479,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,73565.0,M,Other Hispanic,High school - GED,4.0,"$100,000 and Over",40-49,0.000,0.000,0.000000,...,1.0,6.0,1.0,6.0,0.0,0.0,5.0,0.0,0.0,0.0
7,73566.0,F,White,High school - GED,7.0,"$15,000 to \$19,999",50-59,1446.110,226.320,0.626010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,30.0,1.0
8,73567.0,M,White,9-11th grade,1.0,"$10,000 to \$14,999",60-69,1765.270,216.590,0.490780,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,30.0,25.0
9,73568.0,F,White,College or above,3.0,"$100,000 and Over",18-29,2477.015,217.870,0.365789,...,0.0,0.0,0.0,0.0,1.0,4.0,10.0,0.0,0.0,0.0
10,73571.0,M,White,College or above,2.0,"$75,000 to \$99,999",70-79,2143.980,308.635,0.564159,...,0.0,0.0,1.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0
11,73574.0,F,Other / Multi-Racial,College or above,4.0,"$45,000 to \$54,999",30-39,5034.705,561.315,0.451244,...,0.0,0.0,0.0,0.0,1.0,7.0,8.0,0.0,0.0,0.0
12,73577.0,M,Mexican American,Less than 9th grade,5.0,"$5,000 to \$9,999",30-39,3215.540,385.050,0.478986,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
13,73580.0,F,African American,High school - GED,6.0,"$20,000 and Over",30-39,2451.800,305.690,0.498719,...,1.0,5.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
14,73581.0,M,Other / Multi-Racial,College or above,3.0,"$100,000 and Over",50-59,2534.200,417.465,0.649976,...,0.0,0.0,1.0,4.0,0.0,0.0,8.0,0.0,0.0,0.0
15,73582.0,F,African American,College - AA,3.0,"$10,000 to \$14,999",18-29,0.000,0.000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
16,73585.0,M,Other / Multi-Racial,College - AA,2.0,"$35,000 to \$44,999",18-29,2569.140,175.420,0.273119,...,0.0,0.0,1.0,6.0,1.0,6.0,8.0,0.0,0.0,0.0
17,73589.0,M,White,High school - GED,1.0,"$20,000 to \$24,999",30-39,2121.735,280.940,0.547332,...,1.0,6.0,0.0,0.0,1.0,2.0,5.0,0.0,0.0,0.0
18,73592.0,M,Mexican American,College - AA,1.0,"$25,000 to \$34,999",18-29,3366.705,422.925,0.507876,...,0.0,0.0,0.0,0.0,1.0,7.0,12.0,0.0,0.0,0.0
19,73594.0,M,Other Hispanic,Less than 9th grade,7.0,"$20,000 to \$24,999",18-29,1533.710,278.870,0.731395,...,1.0,7.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0

In [98]:
NHANES.isnull().sum()

Participant_id                                    0
Gender                                            0
Race                                              0
Education level                                   0
Num family members                                0
                                                 ..
Num days/week moderate recreational activities    0
Hours/day sedentary activity                      0
Smoke cigarettes Y-N                              0
Days/mo smoked cigs                               0
Num cigs/day                                      0
Length: 100, dtype: int64

In [99]:
NHANES.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5504 entries, 0 to 5503
Data columns (total 100 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Participant_id                                  5504 non-null   float64
 1   Gender                                          5504 non-null   object
 2   Race                                            5504 non-null   object
 3   Education level                                 5504 non-null   object
 4   Num family members                              5504 non-null   float64
 5   Annual family income                            5504 non-null   object
 6   Age ranges                                      5504 non-null   category
 7   Energy (kcal)                                   5504 non-null   float64
 8   Carbohydrate (g)                                5504 non-null   float64
 9   Carbohydrate (% kcal)                           5504 non-null   float64
 10  Protein (g)                                     5504 non-null   float64
 11  Protein (% kcal)                                5504 non-null   float64
 12  Total fat (g)                                   5504 non-null   float64
 13  Total fat (% kcal)                              5504 non-null   float64
 14  Total sugars (g)                                5504 non-null   float64
 15  Cholesterol (mg)                                5504 non-null   float64
 16  Alcohol (g)                                     5504 non-null   float64
 17  Moisture (g)                                    5504 non-null   float64
 18  Water (g)                                       5504 non-null   float64
 19  Shellfish past 30 days Y-N                      5504 non-null   float64
 20  Fish past 30 days Y-N                           5504 non-null   float64
 21  On special diet Y-N                             5504 non-null   float64
 22  Low calorie diet                                5504 non-null   float64
 23  Low fat/Low cholesterol diet                    5504 non-null   float64
 24  Low sodium diet                                 5504 non-null   float64
 25  Sugar free/Low sugar diet                       5504 non-null   float64
 26  Diabetic diet                                   5504 non-null   float64
 27  Muscle building diet                            5504 non-null   float64
 28  Low carbohydrate diet                           5504 non-null   float64
 29  High protein diet                               5504 non-null   float64
 30  Gluten-free/Celiac diet                         5504 non-null   float64
 31  DS taken Y-N                                    5504 non-null   float64
 32  Total DS taken                                  5504 non-null   float64
 33  Days DS taken                                   5504 non-null   float64
 34  Num DS taken daily                              5504 non-null   float64
 35  Prevent health problems                         5504 non-null   float64
 36  Improve overall health                          5504 non-null   float64
 37  Supplement diet                                 5504 non-null   float64
 38  Maintain health                                 5504 non-null   float64
 39  Healthy skin-hair-nails                         5504 non-null   float64
 40  Weight loss                                     5504 non-null   float64
 41  Get more energy                                 5504 non-null   float64
 42  Antioxidants                                    5504 non-null   float64
 43  Build muscle                                    5504 non-null   float64
 44  60 sec pulse                                    5339 non-null   object
 45  Pulse regular/irregular                         5339 non-null   object
 46  Systolic BP (mm Hg)                             5339 non-null   object
 47  Diastolic BP (mm Hg)                            5339 non-null   object
 48  Weight (kg)                                     5339 non-null   float64
 49  Height (cm)                                     5339 non-null   float64
 50  BMI (kg/m**2)                                   5339 non-null   float64
 51  Waist Circumference (cm)                        5339 non-null   float64
 52  Alchool past 12 mo                              5504 non-null   object
 53  Alcohol drinks/day                              5504 non-null   object
 54  Num days consuming 4/5 drinks                   5504 non-null   object
 55  Num times 4/5 drinks in 2 hrs                   5504 non-null   object
 56  4+ drinks every day Y-N                         5504 non-null   object
 57  Ever had HBP Y-N                                5504 non-null   object
 58  Ever had HBP +2 times Y-N                       5504 non-null   object
 59  HBP medicine now Y-N                            5504 non-null   object
 60  Ever had HCL Y-N                                5504 non-null   object
 61  HCL medicine now Y-N                            5504 non-null   object
 62  Ever had chest pain Y-N                         5504 non-null   object
 63  Chest pain walking uphill/hurry Y-N             5504 non-null   object
 64  Chest pain on level ground Y-N                  5504 non-null   object
 65  \$ spent supermarket/grocery store              5504 non-null   object
 66  \$ spent non-food items                         5504 non-null   object
 67  \$ spent for food at other stores               5504 non-null   object
 68  \$ spent eating out                             5504 non-null   object
 69  \$ spent carryout/delivered foods               5504 non-null   object
 70  General health condition                        5504 non-null   object
 71  Have diabetes Y-N                               5504 non-null   object
 72  How healthy is the diet                         5504 non-null   object
 73  Num meals not home prepared                     5504 non-null   object
 74  Num meals from fast food                        5504 non-null   object
 75  Num ready-to-eat foods                          5504 non-null   object
 76  Num frozen meals                                5504 non-null   object
 77  Ever used marijuana Y-N                         5504 non-null   object
 78  Used marijuana every month Y-N                  5504 non-null   object
 79  Frequency of marijuana use                      5504 non-null   object
 80  Num daily joints                                5504 non-null   object
 81  Ever used cocaine Y-N                           5504 non-null   object
 82  Frequency of cocaine use                        5504 non-null   object
 83  Ever used heroin Y-N                            5504 non-null   object
 84  Ever used methamphetamine Y-N                   5504 non-null   object
 85  Frequency of methamphetamine use                5504 non-null   object
 86  Vigorous activity at work Y-N                   5504 non-null   object
 87  Num days/week vigorous activity at work         5504 non-null   object
 88  Moderate activity at work Y-N                   5504 non-null   object
 89  Num days/week moderate activity at work         5504 non-null   object
 90  Walk/bicycle for commute Y-N                    5504 non-null   object
 91  Num days/week walk/bicycle for commute          5504 non-null   object
 92  Vigorous recreational activities Y-N            5504 non-null   object
 93  Num days/week vigorous recreational activities  5504 non-null   object
 94  Moderate recreational activities Y-N            5504 non-null   object
 95  Num days/week moderate recreational activities  5504 non-null   object
 96  Hours/day sedentary activity                    5504 non-null   object
 97  Smoke cigarettes Y-N                            5504 non-null   object
 98  Days/mo smoked cigs                             5504 non-null   object
 99  Num cigs/day                                    5504 non-null   object
dtypes: category(1), float64(43), object(56)
memory usage: 4.2+ MB

In [100]:
NHANES.shape

(5504, 100)

In [101]:
# Save the clean NHANES DataFrame in a .csv file
NHANES.to_csv('FINAL_DATASETS/NHANES_' + year + '.csv')